In [6]:
import pandas as pd
import numpy as np
df=np.array(['a','b','c'])
s=pd.Series(df)
s

0    a
1    b
2    c
dtype: object

In [7]:
df=np.array(['a','b','c'])
s=pd.Series(df,index=['i','ii','iii'])
s

i      a
ii     b
iii    c
dtype: object

In [8]:
df={'A':'Venky','B':21}
s=pd.Series(df)
s

A    Venky
B       21
dtype: object

In [9]:
df=np.array(['a','b','c','d'])
s=pd.Series(df,index=['i','ii','iii','iv'])
s['iv']

'd'

In [10]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
Age=[['Chandu',20,502],['Shyam',22,503],['Venky',21,507]]
df=pd.DataFrame(Age, columns=['Age','Names','Marks'])
print(df)

      Age  Names  Marks
0  Chandu     20    502
1   Shyam     22    503
2   Venky     21    507

In [12]:
df={'Name':['Chandu','Shyam','Venky'],'Age':[20,22,21]}
df=pd.DataFrame(df)
print(df)

     Name  Age
0  Chandu   20
1   Shyam   22
2   Venky   21

In [13]:
df=np.array(['a','b','c'])
s=pd.Series(df)
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c

In [14]:
Age=[['Chandu',20,502],['Shyam',22,503],['Venky',21,507],['Vinay',21,508]]
df=pd.DataFrame(Age,columns=['Age','Names','Marks'])
print(df)
print()
print("------------------------------------")
print()
df['Percentage']=pd.Series([45,64,45,54])
print(df)

      Age  Names  Marks
0  Chandu     20    502
1   Shyam     22    503
2   Venky     21    507
3   Vinay     21    508

------------------------------------

      Age  Names  Marks  Percentage
0  Chandu     20    502          45
1   Shyam     22    503          64
2   Venky     21    507          45
3   Vinay     21    508          54

In [15]:
del df['Marks']
print(df)

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64
2   Venky     21          45
3   Vinay     21          54

In [16]:
print(df.loc[0])

Age           Chandu
Names             20
Percentage        45
Name: 0, dtype: object

In [17]:
print(df.iloc[0])

Age           Chandu
Names             20
Percentage        45
Name: 0, dtype: object

In [18]:
print(df)
print("--------------------")
print(df[1:4])
print("---------------------")
print(df[1:3])

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64
2   Venky     21          45
3   Vinay     21          54
--------------------
     Age  Names  Percentage
1  Shyam     22          64
2  Venky     21          45
3  Vinay     21          54
---------------------
     Age  Names  Percentage
1  Shyam     22          64
2  Venky     21          45

In [19]:
print(df)

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64
2   Venky     21          45
3   Vinay     21          54

In [20]:
df.head(2)

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64

In [21]:
df.tail(1)

     Age  Names  Percentage
3  Vinay     21          54

In [22]:
df.sum()

Age           ChanduShyamVenkyVinay
Names                            84
Percentage                      208
dtype: object

In [23]:
df.mean()

C:\Users\91630\AppData\Local\Temp\ipykernel_16388\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Names         21.0
Percentage    52.0
dtype: float64

In [24]:
df.max()

Age           Vinay
Names            22
Percentage       64
dtype: object

In [25]:
df.min()

Age           Chandu
Names             20
Percentage        45
dtype: object

In [26]:
df.sort_index()

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64
2   Venky     21          45
3   Vinay     21          54

In [27]:
df.sort_index(axis=1)

      Age  Names  Percentage
0  Chandu     20          45
1   Shyam     22          64
2   Venky     21          45
3   Vinay     21          54

In [28]:
dc={'name':['Venky']}

In [30]:
df=pd.DataFrame(dc)
df.sort_values('Percentage')
print(df)

KeyError: 'Percentage'