In [5]:
import pandas as pd
df=pd.read_csv('C:\\Users\\91630\\OneDrive\\Desktop\\insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [10]:
x=df['sex']

In [11]:
x

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [12]:
y=df[['sex','children']]
y

         sex  children
0     female         0
1       male         1
2       male         3
3       male         0
4       male         0
...      ...       ...
1333    male         3
1334  female         0
1335  female         0
1336  female         0
1337  female         0

[1338 rows x 2 columns]

In [6]:
df.size

9366

In [7]:
x.size

2676

In [8]:
x.describe()

          children
count  1338.000000
mean      1.094918
std       1.205493
min       0.000000
25%       0.000000
50%       1.000000
75%       2.000000
max       5.000000

In [9]:
x[2:9]

      sex  children
2    male         3
3    male         0
4    male         0
5  female         0
6  female         1
7  female         3
8    male         2

In [10]:
df.shape

(1338, 7)

In [11]:
df.size

9366

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [13]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [14]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [16]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [17]:
df.isna()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

In [18]:
df.sum()

age                                                     52459
sex         femalemalemalemalemalefemalefemalefemalemalefe...
bmi                                                 41027.625
children                                                 1465
smoker      yesnonononononononononoyesnonoyesnonononoyesno...
region      southwestsoutheastsoutheastnorthwestnorthwests...
charges                                       17755824.990759
dtype: object

In [19]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [20]:
df['sex'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: sex, Length: 1338, dtype: bool

In [21]:
df.shape

(1338, 7)

In [22]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [23]:
x=df[['age','charges']]
x.head()

   age      charges
0   19  16884.92400
1   18   1725.55230
2   28   4449.46200
3   33  21984.47061
4   32   3866.85520

In [24]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
df['sex']=='male'

0       False
1        True
2        True
3        True
4        True
        ...
1333     True
1334    False
1335    False
1336    False
1337    False
Name: sex, Length: 1338, dtype: bool

In [26]:
y=df['sex']=='female'
z=df[y]
z[['sex','children']]

         sex  children
0     female         0
5     female         0
6     female         1
7     female         3
9     female         0
...      ...       ...
1332  female         3
1334  female         0
1335  female         0
1336  female         0
1337  female         0

[662 rows x 2 columns]

In [27]:
df.sample(2)

      age     sex     bmi  children smoker     region      charges
1050   44  female  36.955         1     no  northwest   8023.13545
225    55    male  33.880         3     no  southeast  11987.16820

In [10]:
l=df[df['region']=='southwest']
l.head()

    age     sex   bmi  children smoker     region    charges
0    19  female  27.9         0    yes  southwest  16884.924
12   23    male  34.4         0     no  southwest   1826.843
15   19    male  24.6         1     no  southwest   1837.237
18   56    male  40.3         0     no  southwest  10602.385
19   30    male  35.3         0    yes  southwest  36837.467

In [11]:
l.size

2275

In [12]:
df['region'].unique()
df[df['region']=='southwest'].shape[0]

325

In [13]:
len(df[df['region']=='southwest'])

325

In [14]:
l.shape

(325, 7)

In [15]:
df.std()

C:\Windows\Temp\ipykernel_13208\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

age            14.049960
bmi             6.098187
children        1.205493
charges     12110.011237
dtype: float64

In [16]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
df.sort_values('age').head()

      age     sex    bmi  children smoker     region      charges
1248   18  female  39.82         0     no  southeast   1633.96180
482    18  female  31.35         0     no  southeast   1622.18850
492    18  female  25.08         0     no  northeast   2196.47320
525    18  female  33.88         0     no  southeast  11482.63485
529    18    male  25.46         0     no  northeast   1708.00140

In [18]:
df.sort_values('age',ascending=False).head()

      age     sex     bmi  children smoker     region      charges
335    64    male  34.500         0     no  southwest  13822.80300
603    64  female  39.050         3     no  southeast  16085.12750
752    64    male  37.905         0     no  northwest  14210.53595
1265   64    male  23.760         0    yes  southeast  26926.51440
534    64    male  40.480         0     no  southeast  13831.11520

In [19]:
df.sort_values(['age','charges']).head()

      age   sex    bmi  children smoker     region    charges
940    18  male  23.21         0     no  southeast  1121.8739
808    18  male  30.14         0     no  southeast  1131.5066
1244   18  male  33.33         0     no  southeast  1135.9407
663    18  male  33.66         0     no  southeast  1136.3994
22     18  male  34.10         0     no  southeast  1137.0110

In [20]:
df.sort_values(['age','charges'],ascending=False).head()

      age     sex    bmi  children smoker     region      charges
1241   64    male  36.96         2    yes  southeast  49577.66240
328    64  female  33.80         1    yes  southwest  47928.03000
94     64  female  31.30         2    yes  southwest  47291.05500
420    64    male  33.88         0    yes  southeast  46889.26120
62     64    male  24.70         1     no  northwest  30166.61817

In [21]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Length: 1338, dtype: bool

In [22]:
df.drop_duplicates()

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df.loc[df['age']>58].head()

    age     sex     bmi  children smoker     region      charges
9    60  female  25.840         0     no  northwest  28923.13692
11   62  female  26.290         0    yes  southeast  27808.72510
20   60  female  36.005         0     no  northeast  13228.84695
25   59  female  27.720         3     no  southeast  14001.13380
26   63  female  23.085         0     no  northeast  14451.83515

In [25]:
df.loc[df['age']<59].head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [26]:
df.loc[(df['age']<40) & (df['charges']>21984.47061)].head()

    age     sex    bmi  children smoker     region     charges
14   27    male  42.13         0    yes  southeast  39611.7577
19   30    male  35.30         0    yes  southwest  36837.4670
23   34  female  31.92         1    yes  northeast  37701.8768
29   31    male  36.30         2    yes  southwest  38711.0000
30   22    male  35.60         0    yes  southwest  35585.5760

In [27]:
df.loc[df['smoker'].str.contains('yes')].head()

    age     sex    bmi  children smoker     region     charges
0    19  female  27.90         0    yes  southwest  16884.9240
11   62  female  26.29         0    yes  southeast  27808.7251
14   27    male  42.13         0    yes  southeast  39611.7577
19   30    male  35.30         0    yes  southwest  36837.4670
23   34  female  31.92         1    yes  northeast  37701.8768

In [28]:
df.loc[df['region'].str.startswith('s')].head()

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620
5   31  female  25.74         0     no  southeast   3756.6216
6   46  female  33.44         1     no  southeast   8240.5896

In [29]:
df.loc[df['smoker'].str.endswith('s')].head()

    age     sex    bmi  children smoker     region     charges
0    19  female  27.90         0    yes  southwest  16884.9240
11   62  female  26.29         0    yes  southeast  27808.7251
14   27    male  42.13         0    yes  southeast  39611.7577
19   30    male  35.30         0    yes  southwest  36837.4670
23   34  female  31.92         1    yes  northeast  37701.8768

In [30]:
df['Total']=df['bmi']+df['charges']
df.head()

   age     sex     bmi  children smoker     region      charges        Total
0   19  female  27.900         0    yes  southwest  16884.92400  16912.82400
1   18    male  33.770         1     no  southeast   1725.55230   1759.32230
2   28    male  33.000         3     no  southeast   4449.46200   4482.46200
3   33    male  22.705         0     no  northwest  21984.47061  22007.17561
4   32    male  28.880         0     no  northwest   3866.85520   3895.73520

In [31]:
df['percentage']=(df['Total']/500)
df.head()

,age,sex,bmi,children,smoker,region,charges,Total,percentage
0,19,female,27.900,0,yes,southwest,16884.92400,16912.82400,33.825648
1,18,male,33.770,1,no,southeast,1725.55230,1759.32230,3.518645
2,28,male,33.000,3,no,southeast,4449.46200,4482.46200,8.964924
3,33,male,22.705,0,no,northwest,21984.47061,22007.17561,44.014351
4,32,male,28.880,0,no,northwest,3866.85520,3895.73520,7.791470

In [32]:
df['Grade']='pass/fail'
df.head()

,age,sex,bmi,children,smoker,region,charges,Total,percentage,Grade
0,19,female,27.900,0,yes,southwest,16884.92400,16912.82400,33.825648,pass/fail
1,18,male,33.770,1,no,southeast,1725.55230,1759.32230,3.518645,pass/fail
2,28,male,33.000,3,no,southeast,4449.46200,4482.46200,8.964924,pass/fail
3,33,male,22.705,0,no,northwest,21984.47061,22007.17561,44.014351,pass/fail
4,32,male,28.880,0,no,northwest,3866.85520,3895.73520,7.791470,pass/fail

In [33]:
df.drop(columns='Grade').head()

,age,sex,bmi,children,smoker,region,charges,Total,percentage
0,19,female,27.900,0,yes,southwest,16884.92400,16912.82400,33.825648
1,18,male,33.770,1,no,southeast,1725.55230,1759.32230,3.518645
2,28,male,33.000,3,no,southeast,4449.46200,4482.46200,8.964924
3,33,male,22.705,0,no,northwest,21984.47061,22007.17561,44.014351
4,32,male,28.880,0,no,northwest,3866.85520,3895.73520,7.791470

In [34]:
df.drop(columns='Total',inplace=False).head()

,age,sex,bmi,children,smoker,region,charges,percentage,Grade
0,19,female,27.900,0,yes,southwest,16884.92400,33.825648,pass/fail
1,18,male,33.770,1,no,southeast,1725.55230,3.518645,pass/fail
2,28,male,33.000,3,no,southeast,4449.46200,8.964924,pass/fail
3,33,male,22.705,0,no,northwest,21984.47061,44.014351,pass/fail
4,32,male,28.880,0,no,northwest,3866.85520,7.791470,pass/fail

In [35]:
for rec in df.iterrows():
    print(rec)

(0, age                  19
sex              female
bmi                27.9
children              0
smoker              yes
region        southwest
charges       16884.924
Total         16912.824
percentage    33.825648
Grade         pass/fail
Name: 0, dtype: object)
(1, age                  18
sex                male
bmi               33.77
children              1
smoker               no
region        southeast
charges       1725.5523
Total         1759.3223
percentage     3.518645
Grade         pass/fail
Name: 1, dtype: object)
(2, age                  28
sex                male
bmi                33.0
children              3
smoker               no
region        southeast
charges        4449.462
Total          4482.462
percentage     8.964924
Grade         pass/fail
Name: 2, dtype: object)
(3, age                    33
sex                  male
bmi                22.705
children                0
smoker                 no
region          northwest
charges       21984.47061
Total         22007.17561
percentage      44.014351
Grade           pass/fail
Name: 3, dtype: object)
(4, age                  32
sex                male
bmi               28.88
children              0
smoker               no
region        northwest
charges       3866.8552
Total         3895.7352
percentage      7.79147
Grade         pass/fail
Name: 4, dtype: object)
(5, age                  31
sex              female
bmi               25.74
children              0
smoker               no
region        southeast
charges       3756.6216
Total         3782.3616
percentage     7.564723
Grade         pass/fail
Name: 5, dtype: object)
(6, age                  46
sex              female
bmi               33.44
children              1
smoker               no
region        southeast
charges       8240.5896
Total         8274.0296
percentage    16.548059
Grade         pass/fail
Name: 6, dtype: object)
(7, age                  37
sex              female
bmi               27.74
children              3
smoker               no
region        northwest
charges       7281.5056
Total         7309.2456
percentage    14.618491
Grade         pass/fail
Name: 7, dtype: object)
(8, age                  37
sex                male
bmi               29.83
children              2
smoker               no
region        northeast
charges       6406.4107
Total         6436.2407
percentage    12.872481
Grade         pass/fail
Name: 8, dtype: object)
(9, age                    60
sex                female
bmi                 25.84
children                0
smoker                 no
region          northwest
charges       28923.13692
Total         28948.97692
percentage      57.897954
Grade           pass/fail
Name: 9, dtype: object)
(10, age                  25
sex                male
bmi               26.22
children              0
smoker               no
region        northeast
charges       2721.3208
Total         2747.5408
percentage     5.495082
Grade         pass/fail
Name: 10, dtype: object)
(11, age                   62
sex               female
bmi                26.29
children               0
smoker               yes
region         southeast
charges       27808.7251
Total         27835.0151
percentage      55.67003
Grade          pass/fail
Name: 11, dtype: object)
(12, age                  23
sex                male
bmi                34.4
children              0
smoker               no
region        southwest
charges        1826.843
Total          1861.243
percentage     3.722486
Grade         pass/fail
Name: 12, dtype: object)
(13, age                   56
sex               female
bmi                39.82
children               0
smoker                no
region         southeast
charges       11090.7178
Total         11130.5378
percentage     22.261076
Grade          pass/fail
Name: 13, dtype: object)
(14, age                   27
sex                 male
bmi                42.13
children               0
smoker               yes
region         southeast
charges       39611.7577
Total         39653.8877
percentage     79.307775
Grade          pass/fail
Name: 14, dtype: object)
(15, age                  19
sex                male
bmi                24.6
children              1
smoker               no
region        southwest
charges        1837.237
Total          1861.837
percentage     3.723674
Grade         pass/fail
Name: 15, dtype: object)
(16, age                   52
sex               female
bmi                30.78
children               1
smoker                no
region         northeast
charges       10797.3362
Total         10828.1162
percentage     21.656232
Grade          pass/fail
Name: 16, dtype: object)
(17, age                   23
sex                 male
bmi               23.845
children               0
smoker                no
region         northeast
charges       2395.17155
Total         2419.01655
percentage      4.838033
Grade          pass/fail
Name: 17, dtype: object)
(18, age                  56
sex                male
bmi                40.3
children              0
smoker               no
region        southwest
charges       10602.385
Total         10642.685
percentage     21.28537
Grade         pass/fail
Name: 18, dtype: object)
(19, age                  30
sex                male
bmi                35.3
children              0
smoker              yes
region        southwest
charges       36837.467
Total         36872.767
percentage    73.745534
Grade         pass/fail
Name: 19, dtype: object)
(20, age                    60
sex                female
bmi                36.005
children                0
smoker                 no
region          northeast
charges       13228.84695
Total         13264.85195
percentage      26.529704
Grade           pass/fail
Name: 20, dtype: object)
(21, age                  30
sex              female
bmi                32.4
children              1
smoker               no
region        southwest
charges        4149.736
Total          4182.136
percentage     8.364272
Grade         pass/fail
Name: 21, dtype: object)
(22, age                  18
sex                male
bmi                34.1
children              0
smoker               no
region        southeast
charges        1137.011
Total          1171.111
percentage     2.342222
Grade         pass/fail
Name: 22, dtype: object)
(23, age                   34
sex               female
bmi                31.92
children               1
smoker               yes
region         northeast
charges       37701.8768
Total         37733.7968
percentage     75.467594
Grade          pass/fail
Name: 23, dtype: object)
(24, age                   37
sex                 male
bmi               28.025
children               2
smoker                no
region         northwest
charges       6203.90175
Total         6231.92675
percentage     12.463853
Grade          pass/fail
Name: 24, dtype: object)
(25, age                   59
sex               female
bmi                27.72
children               3
smoker                no
region         southeast
charges       14001.1338
Total         14028.8538
percentage     28.057708
Grade          pass/fail
Name: 25, dtype: object)
(26, age                    63
sex                female
bmi                23.085
children                0
smoker                 no
region          northeast
charges       14451.83515
Total         14474.92015
percentage       28.94984
Grade           pass/fail
Name: 26, dtype: object)
(27, age                    55
sex                female
bmi                32.775
children                2
smoker                 no
region          northwest
charges       12268.63225
Total         12301.40725
percentage      24.602815
Grade           pass/fail
Name: 27, dtype: object)
(28, age                   23
sex                 male
bmi               17.385
children               1
smoker                no
region         northwest
charges       2775.19215
Total         2792.57715
percentage      5.585154
Grade          pass/fail
Name: 28, dtype: object)
(29, age                  31
sex                male
bmi                36.3
children              2
smoker              yes
region        southwest
charges         38711.0
Total           38747.3
percentage      77.4946
Grade         pass/fail
Name: 29, dtype: object)
(30, age                  22
sex                male
bmi                35.6
children              0
smoker              yes
region        southwest
charges       35585.576
Total         35621.176
percentage    71.242352
Grade         pass/fail
Name: 30, dtype: object)
(31, age                   18
sex               female
bmi               26.315
children               0
smoker                no
region         northeast
charges       2198.18985
Total         2224.50485
percentage       4.44901
Grade          pass/fail
Name: 31, dtype: object)
(32, age                  19
sex              female
bmi                28.6
children              5
smoker               no
region        southwest
charges        4687.797
Total          4716.397
percentage     9.432794
Grade         pass/fail
Name: 32, dtype: object)
(33, age                   63
sex                 male
bmi                28.31
children               0
smoker                no
region         northwest
charges       13770.0979
Total         13798.4079
percentage     27.596816
Grade          pass/fail
Name: 33, dtype: object)
(34, age                    28
sex                  male
bmi                  36.4
children                1
smoker                yes
region          southwest
charges       51194.55914
Total         51230.95914
percentage     102.461918
Grade           pass/fail
Name: 34, dtype: object)
(35, age                   19
sex                 male
bmi               20.425
children               0
smoker                no
region         northwest
charges       1625.43375
Total         1645.85875
percentage      3.291717
Grade          pass/fail
Name: 35, dtype: object)
(36, age                    62
sex                female
bmi                32.965
children                3
smoker                 no
region          northwest
charges       15612.19335
Total         15645.15835
percentage      31.290317
Grade           pass/fail
Name: 36, dtype: object)
(37, age                  26
sex                male
bmi                20.8
children              0
smoker               no
region        southwest
charges          2302.3
Total            2323.1
percentage       4.6462
Grade         pass/fail
Name: 37, dtype: object)
(38, age                   35
sex                 male
bmi                36.67
children               1
smoker               yes
region         northeast
charges       39774.2763
Total         39810.9463
percentage     79.621893
Grade          pass/fail
Name: 38, dtype: object)
(39, age                  60
sex                male
bmi                39.9
children              0
smoker              yes
region        southwest
charges       48173.361
Total         48213.261
percentage    96.426522
Grade         pass/fail
Name: 39, dtype: object)
(40, age                  24
sex              female
bmi                26.6
children              0
smoker               no
region        northeast
charges        3046.062
Total          3072.662
percentage     6.145324
Grade         pass/fail
Name: 40, dtype: object)
(41, age                  31
sex              female
bmi               36.63
children              2
smoker               no
region        southeast
charges       4949.7587
Total         4986.3887
percentage     9.972777
Grade         pass/fail
Name: 41, dtype: object)
(42, age                  41
sex                male
bmi               21.78
children              1
smoker               no
region        southeast
charges       6272.4772
Total         6294.2572
percentage    12.588514
Grade         pass/fail
Name: 42, dtype: object)
(43, age                  37
sex              female
bmi                30.8
children              2
smoker               no
region        southeast
charges        6313.759
Total          6344.559
percentage    12.689118
Grade         pass/fail
Name: 43, dtype: object)
(44, age                  38
sex                male
bmi               37.05
children              1
smoker               no
region        northeast
charges       6079.6715
Total         6116.7215
percentage    12.233443
Grade         pass/fail
Name: 44, dtype: object)
(45, age                    55
sex                  male
bmi                  37.3
children                0
smoker                 no
region          southwest
charges       20630.28351
Total         20667.58351
percentage      41.335167
Grade           pass/fail
Name: 45, dtype: object)
(46, age                   18
sex               female
bmi               38.665
children               2
smoker                no
region         northeast
charges       3393.35635
Total         3432.02135
percentage      6.864043
Grade          pass/fail
Name: 46, dtype: object)
(47, age                  28
sex              female
bmi               34.77
children              0
smoker               no
region        northwest
charges       3556.9223
Total         3591.6923
percentage     7.183385
Grade         pass/fail
Name: 47, dtype: object)
(48, age                   60
sex               female
bmi                24.53
children               0
smoker                no
region         southeast
charges       12629.8967
Total         12654.4267
percentage     25.308853
Grade          pass/fail
Name: 48, dtype: object)
(49, age                  36
sex                male
bmi                35.2
children              1
smoker              yes
region        southeast
charges       38709.176
Total         38744.376
percentage    77.488752
Grade         pass/fail
Name: 49, dtype: object)
(50, age                   18
sex               female
bmi               35.625
children               0
smoker                no
region         northeast
charges       2211.13075
Total         2246.75575
percentage      4.493511
Grade          pass/fail
Name: 50, dtype: object)
(51, age                  21
sex              female
bmi               33.63
children              2
smoker               no
region        northwest
charges       3579.8287
Total         3613.4587
percentage     7.226917
Grade         pass/fail
Name: 51, dtype: object)
(52, age                  48
sex                male
bmi                28.0
children              1
smoker              yes
region        southwest
charges       23568.272
Total         23596.272
percentage    47.192544
Grade         pass/fail
Name: 52, dtype: object)
(53, age                   36
sex                 male
bmi                34.43
children               0
smoker               yes
region         southeast
charges       37742.5757
Total         37777.0057
percentage     75.554011
Grade          pass/fail
Name: 53, dtype: object)
(54, age                  40
sex              female
bmi               28.69
children              3
smoker               no
region        northwest
charges       8059.6791
Total         8088.3691
percentage    16.176738
Grade         pass/fail
Name: 54, dtype: object)
(55, age                    58
sex                  male
bmi                36.955
children                2
smoker                yes
region          northwest
charges       47496.49445
Total         47533.44945
percentage      95.066899
Grade           pass/fail
Name: 55, dtype: object)
(56, age                    58
sex                female
bmi                31.825
children                2
smoker                 no
region          northeast
charges       13607.36875
Total         13639.19375
percentage      27.278388
Grade           pass/fail
Name: 56, dtype: object)
(57, age                   18
sex                 male
bmi                31.68
children               2
smoker               yes
region         southeast
charges       34303.1672
Total         34334.8472
percentage     68.669694
Grade          pass/fail
Name: 57, dtype: object)
(58, age                   53
sex               female
bmi                22.88
children               1
smoker               yes
region         southeast
charges       23244.7902
Total         23267.6702
percentage      46.53534
Grade          pass/fail
Name: 58, dtype: object)
(59, age                   34
sex               female
bmi               37.335
children               2
smoker                no
region         northwest
charges       5989.52365
Total         6026.85865
percentage     12.053717
Grade          pass/fail
Name: 59, dtype: object)
(60, age                  43
sex                male
bmi               27.36
children              3
smoker               no
region        northeast
charges       8606.2174
Total         8633.5774
percentage    17.267155
Grade         pass/fail
Name: 60, dtype: object)
(61, age                  25
sex                male
bmi               33.66
children              4
smoker               no
region        southeast
charges       4504.6624
Total         4538.3224
percentage     9.076645
Grade         pass/fail
Name: 61, dtype: object)
(62, age                    64
sex                  male
bmi                  24.7
children                1
smoker                 no
region          northwest
charges       30166.61817
Total         30191.31817
percentage      60.382636
Grade           pass/fail
Name: 62, dtype: object)
(63, age                   28
sex               female
bmi               25.935
children               1
smoker                no
region         northwest
charges       4133.64165
Total         4159.57665
percentage      8.319153
Grade          pass/fail
Name: 63, dtype: object)
(64, age                   20
sex               female
bmi                22.42
children               0
smoker               yes
region         northwest
charges       14711.7438
Total         14734.1638
percentage     29.468328
Grade          pass/fail
Name: 64, dtype: object)
(65, age                  19
sex              female
bmi                28.9
children              0
smoker               no
region        southwest
charges        1743.214
Total          1772.114
percentage     3.544228
Grade         pass/fail
Name: 65, dtype: object)
(66, age                  61
sex              female
bmi                39.1
children              2
smoker               no
region        southwest
charges       14235.072
Total         14274.172
percentage    28.548344
Grade         pass/fail
Name: 66, dtype: object)
(67, age                   40
sex                 male
bmi               26.315
children               1
smoker                no
region         northwest
charges       6389.37785
Total         6415.69285
percentage     12.831386
Grade          pass/fail
Name: 67, dtype: object)
(68, age                  40
sex              female
bmi               36.19
children              0
smoker               no
region        southeast
charges       5920.1041
Total         5956.2941
percentage    11.912588
Grade         pass/fail
Name: 68, dtype: object)
(69, age                   28
sex                 male
bmi                23.98
children               3
smoker               yes
region         southeast
charges       17663.1442
Total         17687.1242
percentage     35.374248
Grade          pass/fail
Name: 69, dtype: object)
(70, age                   27
sex               female
bmi                24.75
children               0
smoker               yes
region         southeast
charges       16577.7795
Total         16602.5295
percentage     33.205059
Grade          pass/fail
Name: 70, dtype: object)
(71, age                  31
sex                male
bmi                28.5
children              5
smoker               no
region        northeast
charges        6799.458
Total          6827.958
percentage    13.655916
Grade         pass/fail
Name: 71, dtype: object)
(72, age                  53
sex              female
bmi                28.1
children              3

Name: 186, dtype: object)
(187, age                  30
sex              female
bmi                30.9
children              3
smoker               no
region        southwest
charges        5325.651
Total          5356.551
percentage    10.713102
Grade         pass/fail
Name: 187, dtype: object)
(188, age                  41
sex              female
bmi                32.2
children              1
smoker               no
region        southwest
charges        6775.961
Total          6808.161
percentage    13.616322
Grade         pass/fail
Name: 188, dtype: object)
(189, age                  29
sex              female
bmi               32.11
children              2
smoker               no
region        northwest
charges       4922.9159
Total         4955.0259
percentage     9.910052
Grade         pass/fail
Name: 189, dtype: object)
(190, age                   61
sex                 male
bmi                31.57
children               0
smoker                no
region         southeast
charges       12557.6053
Total         12589.1753
percentage     25.178351
Grade          pass/fail
Name: 190, dtype: object)
(191, age                  36
sex              female
bmi                26.2
children              0
smoker               no
region        southwest
charges        4883.866
Total          4910.066
percentage     9.820132
Grade         pass/fail
Name: 191, dtype: object)
(192, age                  25
sex                male
bmi               25.74
children              0
smoker               no
region        southeast
charges       2137.6536
Total         2163.3936
percentage     4.326787
Grade         pass/fail
Name: 192, dtype: object)
(193, age                  56
sex              female
bmi                26.6
children              1
smoker               no
region        northwest
charges       12044.342
Total         12070.942
percentage    24.141884
Grade         pass/fail
Name: 193, dtype: object)
(194, age                  18
sex                male
bmi               34.43
children              0
smoker               no
region        southeast
charges       1137.4697
Total         1171.8997
percentage     2.343799
Grade         pass/fail
Name: 194, dtype: object)
(195, age                  19
sex                male
bmi               30.59
children              0
smoker               no
region        northwest
charges       1639.5631
Total         1670.1531
percentage     3.340306
Grade         pass/fail
Name: 195, dtype: object)
(196, age                  39
sex              female
bmi                32.8
children              0
smoker               no
region        southwest
charges        5649.715
Total          5682.515
percentage     11.36503
Grade         pass/fail
Name: 196, dtype: object)
(197, age                  45
sex              female
bmi                28.6
children              2
smoker               no
region        southeast
charges        8516.829
Total          8545.429
percentage    17.090858
Grade         pass/fail
Name: 197, dtype: object)
(198, age                  51
sex              female
bmi               18.05
children              0
smoker               no
region        northwest
charges       9644.2525
Total         9662.3025
percentage    19.324605
Grade         pass/fail
Name: 198, dtype: object)
(199, age                   64
sex               female
bmi                39.33
children               0
smoker                no
region         northeast
charges       14901.5167
Total         14940.8467
percentage     29.881693
Grade          pass/fail
Name: 199, dtype: object)
(200, age                  19
sex              female
bmi               32.11
children              0
smoker               no
region        northwest
charges       2130.6759
Total         2162.7859
percentage     4.325572
Grade         pass/fail
Name: 200, dtype: object)
(201, age                  48
sex              female
bmi               32.23
children              1
smoker               no
region        southeast
charges       8871.1517
Total         8903.3817
percentage    17.806763
Grade         pass/fail
Name: 201, dtype: object)
(202, age                    60
sex                female
bmi                24.035
children                0
smoker                 no
region          northwest
charges       13012.20865
Total         13036.24365
percentage      26.072487
Grade           pass/fail
Name: 202, dtype: object)
(203, age                   27
sex               female
bmi                36.08
children               0
smoker               yes
region         southeast
charges       37133.8982
Total         37169.9782
percentage     74.339956
Grade          pass/fail
Name: 203, dtype: object)
(204, age                  46
sex                male
bmi                22.3
children              0
smoker               no
region        southwest
charges        7147.105
Total          7169.405
percentage     14.33881
Grade         pass/fail
Name: 204, dtype: object)
(205, age                  28
sex              female
bmi               28.88
children              1
smoker               no
region        northeast
charges       4337.7352
Total         4366.6152
percentage      8.73323
Grade         pass/fail
Name: 205, dtype: object)
(206, age                  59
sex                male
bmi                26.4
children              0
smoker               no
region        southeast
charges       11743.299
Total         11769.699
percentage    23.539398
Grade         pass/fail
Name: 206, dtype: object)
(207, age                   35
sex                 male
bmi                27.74
children               2
smoker               yes
region         northeast
charges       20984.0936
Total         21011.8336
percentage     42.023667
Grade          pass/fail
Name: 207, dtype: object)
(208, age                  63
sex              female
bmi                31.8
children              0
smoker               no
region        southwest
charges       13880.949
Total         13912.749
percentage    27.825498
Grade         pass/fail
Name: 208, dtype: object)
(209, age                  40
sex                male
bmi               41.23
children              1
smoker               no
region        northeast
charges       6610.1097
Total         6651.3397
percentage    13.302679
Grade         pass/fail
Name: 209, dtype: object)
(210, age                  20
sex                male
bmi                33.0
children              1
smoker               no
region        southwest
charges         1980.07
Total           2013.07
percentage      4.02614
Grade         pass/fail
Name: 210, dtype: object)
(211, age                   40
sex                 male
bmi               30.875
children               4
smoker                no
region         northwest
charges       8162.71625
Total         8193.59125
percentage     16.387183
Grade          pass/fail
Name: 211, dtype: object)
(212, age                  24
sex                male
bmi                28.5
children              2
smoker               no
region        northwest
charges        3537.703
Total          3566.203
percentage     7.132406
Grade         pass/fail
Name: 212, dtype: object)
(213, age                  34
sex              female
bmi               26.73
children              1
smoker               no
region        southeast
charges       5002.7827
Total         5029.5127
percentage    10.059025
Grade         pass/fail
Name: 213, dtype: object)
(214, age                  45
sex              female
bmi                30.9
children              2
smoker               no
region        southwest
charges        8520.026
Total          8550.926
percentage    17.101852
Grade         pass/fail
Name: 214, dtype: object)
(215, age                  41
sex              female
bmi                37.1
children              2
smoker               no
region        southwest
charges        7371.772
Total          7408.872
percentage    14.817744
Grade         pass/fail
Name: 215, dtype: object)
(216, age                  53
sex              female
bmi                26.6
children              0
smoker               no
region        northwest
charges       10355.641
Total         10382.241
percentage    20.764482
Grade         pass/fail
Name: 216, dtype: object)
(217, age                  27
sex                male
bmi                23.1
children              0
smoker               no
region        southeast
charges        2483.736
Total          2506.836
percentage     5.013672
Grade         pass/fail
Name: 217, dtype: object)
(218, age                  26
sex              female
bmi               29.92
children              1
smoker               no
region        southeast
charges       3392.9768
Total         3422.8968
percentage     6.845794
Grade         pass/fail
Name: 218, dtype: object)
(219, age                    24
sex                female
bmi                 23.21
children                0
smoker                 no
region          southeast
charges       25081.76784
Total         25104.97784
percentage      50.209956
Grade           pass/fail
Name: 219, dtype: object)
(220, age                  34
sex              female
bmi                33.7
children              1
smoker               no
region        southwest
charges        5012.471
Total          5046.171
percentage    10.092342
Grade         pass/fail
Name: 220, dtype: object)
(221, age                   53
sex               female
bmi                33.25
children               0
smoker                no
region         northeast
charges       10564.8845
Total         10598.1345
percentage     21.196269
Grade          pass/fail
Name: 221, dtype: object)
(222, age                  32
sex                male
bmi                30.8
children              3
smoker               no
region        southwest
charges        5253.524
Total          5284.324
percentage    10.568648
Grade         pass/fail
Name: 222, dtype: object)
(223, age                  19
sex                male
bmi                34.8
children              0
smoker              yes
region        southwest
charges       34779.615
Total         34814.415
percentage     69.62883
Grade         pass/fail
Name: 223, dtype: object)
(224, age                   42
sex                 male
bmi                24.64
children               0
smoker               yes
region         southeast
charges       19515.5416
Total         19540.1816
percentage     39.080363
Grade          pass/fail
Name: 224, dtype: object)
(225, age                   55
sex                 male
bmi                33.88
children               3
smoker                no
region         southeast
charges       11987.1682
Total         12021.0482
percentage     24.042096
Grade          pass/fail
Name: 225, dtype: object)
(226, age                  28
sex                male
bmi               38.06
children              0
smoker               no
region        southeast
charges       2689.4954
Total         2727.5554
percentage     5.455111
Grade         pass/fail
Name: 226, dtype: object)
(227, age                    58
sex                female
bmi                 41.91
children                0
smoker                 no
region          southeast
charges       24227.33724
Total         24269.24724
percentage      48.538494
Grade           pass/fail
Name: 227, dtype: object)
(228, age                   41
sex               female
bmi               31.635
children               1
smoker                no
region         northeast
charges       7358.17565
Total         7389.81065
percentage     14.779621
Grade          pass/fail
Name: 228, dtype: object)
(229, age                  47
sex                male
bmi               25.46
children              2
smoker               no
region        northeast
charges       9225.2564
Total         9250.7164
percentage    18.501433
Grade         pass/fail
Name: 229, dtype: object)
(230, age                   42
sex               female
bmi               36.195
children               1
smoker                no
region         northwest
charges       7443.64305
Total         7479.83805
percentage     14.959676
Grade          pass/fail
Name: 230, dtype: object)
(231, age                   59
sex               female
bmi                27.83
children               3
smoker                no
region         southeast
charges       14001.2867
Total         14029.1167
percentage     28.058233
Grade          pass/fail
Name: 231, dtype: object)
(232, age                  19
sex              female
bmi                17.8
children              0
smoker               no
region        southwest
charges        1727.785
Total          1745.585
percentage      3.49117
Grade         pass/fail
Name: 232, dtype: object)
(233, age                  59
sex                male
bmi                27.5
children              1
smoker               no
region        southwest
charges       12333.828
Total         12361.328
percentage    24.722656
Grade         pass/fail
Name: 233, dtype: object)
(234, age                  39
sex                male
bmi               24.51
children              2
smoker               no
region        northwest
charges       6710.1919
Total         6734.7019
percentage    13.469404
Grade         pass/fail
Name: 234, dtype: object)
(235, age                   40
sex               female
bmi                22.22
children               2
smoker               yes
region         southeast
charges       19444.2658
Total         19466.4858
percentage     38.932972
Grade          pass/fail
Name: 235, dtype: object)
(236, age                  18
sex              female
bmi               26.73
children              0
smoker               no
region        southeast
charges       1615.7667
Total         1642.4967
percentage     3.284993
Grade         pass/fail
Name: 236, dtype: object)
(237, age                  31
sex                male
bmi               38.39
children              2
smoker               no
region        southeast
charges       4463.2051
Total         4501.5951
percentage      9.00319
Grade         pass/fail
Name: 237, dtype: object)
(238, age                   19
sex                 male
bmi                29.07
children               0
smoker               yes
region         northwest
charges       17352.6803
Total         17381.7503
percentage     34.763501
Grade          pass/fail
Name: 238, dtype: object)
(239, age                  44
sex                male
bmi               38.06
children              1
smoker               no
region        southeast
charges       7152.6714
Total         7190.7314
percentage    14.381463
Grade         pass/fail
Name: 239, dtype: object)
(240, age                   23
sex               female
bmi                36.67
children               2
smoker               yes
region         northeast
charges       38511.6283
Total         38548.2983
percentage     77.096597
Grade          pass/fail
Name: 240, dtype: object)
(241, age                   33
sex               female
bmi               22.135
children               1
smoker                no
region         northeast
charges       5354.07465
Total         5376.20965
percentage     10.752419
Grade          pass/fail
Name: 241, dtype: object)
(242, age                    55
sex                female
bmi                  26.8
children                1
smoker                 no
region          southwest
charges       35160.13457
Total         35186.93457
percentage      70.373869
Grade           pass/fail
Name: 242, dtype: object)
(243, age                  40
sex                male
bmi                35.3
children              3
smoker               no
region        southwest
charges        7196.867
Total          7232.167
percentage    14.464334
Grade         pass/fail
Name: 243, dtype: object)
(244, age                   63
sex               female
bmi                27.74
children               0
smoker               yes
region         northeast
charges       29523.1656
Total         29550.9056
percentage     59.101811
Grade          pass/fail
Name: 244, dtype: object)
(245, age                    54
sex                  male
bmi                 30.02
children                0
smoker                 no
region          northwest
charges       24476.47851
Total         24506.49851
percentage      49.012997
Grade           pass/fail
Name: 245, dtype: object)
(246, age                   60
sex               female
bmi                38.06
children               0
smoker                no
region         southeast
charges       12648.7034
Total         12686.7634
percentage     25.373527
Grade          pass/fail
Name: 246, dtype: object)
(247, age                  24
sex                male
bmi               35.86
children              0
smoker               no
region        southeast
charges       1986.9334
Total         2022.7934
percentage     4.045587
Grade         pass/fail
Name: 247, dtype: object)
(248, age                  19
sex                male
bmi                20.9
children              1
smoker               no
region        southwest
charges        1832.094
Total          1852.994
percentage     3.705988
Grade         pass/fail
Name: 248, dtype: object)
(249, age                   29
sex                 male
bmi               28.975
children               1
smoker                no
region         northeast
charges       4040.55825
Total         4069.53325
percentage      8.139067
Grade          pass/fail
Name: 249, dtype: object)
(250, age                   18
sex                 male
bmi                17.29
children               2
smoker               yes
region         northeast
charges       12829.4551
Total         12846.7451
percentage      25.69349
Grade          pass/fail
Name: 250, dtype: object)
(251, age                  63
sex              female
bmi                32.2
children              2
smoker              yes
region        southwest
charges       47305.305
Total         47337.505
percentage     94.67501
Grade         pass/fail
Name: 251, dtype: object)
(252, age                   54
sex                 male
bmi                34.21
children               2
smoker               yes
region         southeast
charges       44260.7499
Total         44294.9599
percentage      88.58992
Grade          pass/fail
Name: 252, dtype: object)
(253, age                  27
sex                male
bmi                30.3
children              3
smoker               no
region        southwest
charges        4260.744
Total          4291.044
percentage     8.582088
Grade         pass/fail
Name: 253, dtype: object)
(254, age                    50
sex                  male
bmi                31.825
children                0
smoker                yes
region          northeast
charges       41097.16175
Total         41128.98675
percentage      82.257973
Grade           pass/fail
Name: 254, dtype: object)
(255, age                    55
sex                female
bmi                25.365
children                3
smoker                 no
region          northeast
charges       13047.33235
Total         13072.69735
percentage      26.145395
Grade           pass/fail
Name: 255, dtype: object)
(256, age                   56
sex                 male
bmi                33.63
children               0
smoker               yes
region         northwest
charges       43921.1837
Total         43954.8137
percentage     87.909627
Grade          pass/fail
Name: 256, dtype: object)
(257, age                  38
sex              female
bmi               40.15
children              0
smoker               no
region        southeast
charges       5400.9805
Total         5441.1305
percentage    10.882261
Grade         pass/fail
Name: 257, dtype: object)
(258, age                    51
sex                  male
bmi                24.415
children                4
smoker                 no
region          northwest
charges       11520.09985
Total         11544.51485
percentage       23.08903
Grade           pass/fail
Name: 258, dtype: object)

Name: 400, dtype: object)
(401, age                  47
sex                male
bmi               47.52
children              1
smoker               no
region        southeast
charges       8083.9198
Total         8131.4398
percentage     16.26288
Grade         pass/fail
Name: 401, dtype: object)
(402, age                    64
sex                female
bmi                32.965
children                0
smoker                 no
region          northwest
charges       14692.66935
Total         14725.63435
percentage      29.451269
Grade           pass/fail
Name: 402, dtype: object)
(403, age                  49
sex                male
bmi                32.3
children              3
smoker               no
region        northwest
charges        10269.46
Total          10301.76
percentage     20.60352
Grade         pass/fail
Name: 403, dtype: object)
(404, age                  31
sex                male
bmi                20.4
children              0
smoker               no
region        southwest
charges        3260.199
Total          3280.599
percentage     6.561198
Grade         pass/fail
Name: 404, dtype: object)
(405, age                   52
sex               female
bmi                38.38
children               2
smoker                no
region         northeast
charges       11396.9002
Total         11435.2802
percentage      22.87056
Grade          pass/fail
Name: 405, dtype: object)
(406, age                  33
sex              female
bmi               24.31
children              0
smoker               no
region        southeast
charges       4185.0979
Total         4209.4079
percentage     8.418816
Grade         pass/fail
Name: 406, dtype: object)
(407, age                  47
sex              female
bmi                23.6
children              1
smoker               no
region        southwest
charges        8539.671
Total          8563.271
percentage    17.126542
Grade         pass/fail
Name: 407, dtype: object)
(408, age                  38
sex                male
bmi               21.12
children              3
smoker               no
region        southeast
charges       6652.5288
Total         6673.6488
percentage    13.347298
Grade         pass/fail
Name: 408, dtype: object)
(409, age                  32
sex                male
bmi               30.03
children              1
smoker               no
region        southeast
charges       4074.4537
Total         4104.4837
percentage     8.208967
Grade         pass/fail
Name: 409, dtype: object)
(410, age                  19
sex                male
bmi               17.48
children              0
smoker               no
region        northwest
charges       1621.3402
Total         1638.8202
percentage      3.27764
Grade         pass/fail
Name: 410, dtype: object)
(411, age                    44
sex                female
bmi                20.235
children                1
smoker                yes
region          northeast
charges       19594.80965
Total         19615.04465
percentage      39.230089
Grade           pass/fail
Name: 411, dtype: object)
(412, age                    26
sex                female
bmi                17.195
children                2
smoker                yes
region          northeast
charges       14455.64405
Total         14472.83905
percentage      28.945678
Grade           pass/fail
Name: 412, dtype: object)
(413, age                  25
sex                male
bmi                23.9
children              5
smoker               no
region        southwest
charges        5080.096
Total          5103.996
percentage    10.207992
Grade         pass/fail
Name: 413, dtype: object)
(414, age                  19
sex              female
bmi               35.15
children              0
smoker               no
region        northwest
charges       2134.9015
Total         2170.0515
percentage     4.340103
Grade         pass/fail
Name: 414, dtype: object)
(415, age                  43
sex              female
bmi               35.64
children              1
smoker               no
region        southeast
charges       7345.7266
Total         7381.3666
percentage    14.762733
Grade         pass/fail
Name: 415, dtype: object)
(416, age                  52
sex                male
bmi                34.1
children              0
smoker               no
region        southeast
charges        9140.951
Total          9175.051
percentage    18.350102
Grade         pass/fail
Name: 416, dtype: object)
(417, age                  36
sex              female
bmi                22.6
children              2
smoker              yes
region        southwest
charges       18608.262
Total         18630.862
percentage    37.261724
Grade         pass/fail
Name: 417, dtype: object)
(418, age                   64
sex                 male
bmi                39.16
children               1
smoker                no
region         southeast
charges       14418.2804
Total         14457.4404
percentage     28.914881
Grade          pass/fail
Name: 418, dtype: object)
(419, age                   63
sex               female
bmi                26.98
children               0
smoker               yes
region         northwest
charges       28950.4692
Total         28977.4492
percentage     57.954898
Grade          pass/fail
Name: 419, dtype: object)
(420, age                   64
sex                 male
bmi                33.88
children               0
smoker               yes
region         southeast
charges       46889.2612
Total         46923.1412
percentage     93.846282
Grade          pass/fail
Name: 420, dtype: object)
(421, age                   61
sex                 male
bmi                35.86
children               0
smoker               yes
region         southeast
charges       46599.1084
Total         46634.9684
percentage     93.269937
Grade          pass/fail
Name: 421, dtype: object)
(422, age                    40
sex                  male
bmi                32.775
children                1
smoker                yes
region          northeast
charges       39125.33225
Total         39158.10725
percentage      78.316215
Grade           pass/fail
Name: 422, dtype: object)
(423, age                  25
sex                male
bmi               30.59
children              0
smoker               no
region        northeast
charges       2727.3951
Total         2757.9851
percentage      5.51597
Grade         pass/fail
Name: 423, dtype: object)
(424, age                  48
sex                male
bmi                30.2
children              2
smoker               no
region        southwest
charges         8968.33
Total           8998.53
percentage     17.99706
Grade         pass/fail
Name: 424, dtype: object)
(425, age                  45
sex                male
bmi               24.31
children              5
smoker               no
region        southeast
charges       9788.8659
Total         9813.1759
percentage    19.626352
Grade         pass/fail
Name: 425, dtype: object)
(426, age                   38
sex               female
bmi               27.265
children               1
smoker                no
region         northeast
charges       6555.07035
Total         6582.33535
percentage     13.164671
Grade          pass/fail
Name: 426, dtype: object)
(427, age                    18
sex                female
bmi                29.165
children                0
smoker                 no
region          northeast
charges       7323.734819
Total         7352.899819
percentage        14.7058
Grade           pass/fail
Name: 427, dtype: object)
(428, age                   21
sex               female
bmi               16.815
children               1
smoker                no
region         northeast
charges       3167.45585
Total         3184.27085
percentage      6.368542
Grade          pass/fail
Name: 428, dtype: object)
(429, age                   27
sex               female
bmi                 30.4
children               3
smoker                no
region         northwest
charges       18804.7524
Total         18835.1524
percentage     37.670305
Grade          pass/fail
Name: 429, dtype: object)
(430, age                    19
sex                  male
bmi                  33.1
children                0
smoker                 no
region          southwest
charges       23082.95533
Total         23116.05533
percentage      46.232111
Grade           pass/fail
Name: 430, dtype: object)
(431, age                   29
sex               female
bmi               20.235
children               2
smoker                no
region         northwest
charges       4906.40965
Total         4926.64465
percentage      9.853289
Grade          pass/fail
Name: 431, dtype: object)
(432, age                  42
sex                male
bmi                26.9
children              0
smoker               no
region        southwest
charges        5969.723
Total          5996.623
percentage    11.993246
Grade         pass/fail
Name: 432, dtype: object)
(433, age                  60
sex              female
bmi                30.5
children              0
smoker               no
region        southwest
charges       12638.195
Total         12668.695
percentage     25.33739
Grade         pass/fail
Name: 433, dtype: object)
(434, age                   31
sex                 male
bmi               28.595
children               1
smoker                no
region         northwest
charges       4243.59005
Total         4272.18505
percentage       8.54437
Grade          pass/fail
Name: 434, dtype: object)
(435, age                   60
sex                 male
bmi                33.11
children               3
smoker                no
region         southeast
charges       13919.8229
Total         13952.9329
percentage     27.905866
Grade          pass/fail
Name: 435, dtype: object)
(436, age                  22
sex                male
bmi               31.73
children              0
smoker               no
region        northeast
charges       2254.7967
Total         2286.5267
percentage     4.573053
Grade         pass/fail
Name: 436, dtype: object)
(437, age                  35
sex                male
bmi                28.9
children              3
smoker               no
region        southwest
charges        5926.846
Total          5955.746
percentage    11.911492
Grade         pass/fail
Name: 437, dtype: object)
(438, age                   52
sex               female
bmi                46.75
children               5
smoker                no
region         southeast
charges       12592.5345
Total         12639.2845
percentage     25.278569
Grade          pass/fail
Name: 438, dtype: object)
(439, age                  26
sex                male
bmi               29.45
children              0
smoker               no
region        northeast
charges       2897.3235
Total         2926.7735
percentage     5.853547
Grade         pass/fail
Name: 439, dtype: object)
(440, age                  31
sex              female
bmi               32.68
children              1
smoker               no
region        northwest
charges       4738.2682
Total         4770.9482
percentage     9.541896
Grade         pass/fail
Name: 440, dtype: object)
(441, age                  33
sex              female
bmi                33.5
children              0
smoker              yes
region        southwest
charges       37079.372
Total         37112.872
percentage    74.225744
Grade         pass/fail
Name: 441, dtype: object)
(442, age                  18
sex                male
bmi               43.01
children              0
smoker               no
region        southeast
charges       1149.3959
Total         1192.4059
percentage     2.384812
Grade         pass/fail
Name: 442, dtype: object)
(443, age                    59
sex                female
bmi                 36.52
children                1
smoker                 no
region          southeast
charges       28287.89766
Total         28324.41766
percentage      56.648835
Grade           pass/fail
Name: 443, dtype: object)
(444, age                    56
sex                  male
bmi                26.695
children                1
smoker                yes
region          northwest
charges       26109.32905
Total         26136.02405
percentage      52.272048
Grade           pass/fail
Name: 444, dtype: object)
(445, age                  45
sex              female
bmi                33.1
children              0
smoker               no
region        southwest
charges        7345.084
Total          7378.184
percentage    14.756368
Grade         pass/fail
Name: 445, dtype: object)
(446, age                   60
sex                 male
bmi                29.64
children               0
smoker                no
region         northeast
charges       12730.9996
Total         12760.6396
percentage     25.521279
Grade          pass/fail
Name: 446, dtype: object)
(447, age                   56
sex               female
bmi                25.65
children               0
smoker                no
region         northwest
charges       11454.0215
Total         11479.6715
percentage     22.959343
Grade          pass/fail
Name: 447, dtype: object)
(448, age                  40
sex              female
bmi                29.6
children              0
smoker               no
region        southwest
charges        5910.944
Total          5940.544
percentage    11.881088
Grade         pass/fail
Name: 448, dtype: object)
(449, age                  35
sex                male
bmi                38.6
children              1
smoker               no
region        southwest
charges        4762.329
Total          4800.929
percentage     9.601858
Grade         pass/fail
Name: 449, dtype: object)
(450, age                  39
sex                male
bmi                29.6
children              4
smoker               no
region        southwest
charges        7512.267
Total          7541.867
percentage    15.083734
Grade         pass/fail
Name: 450, dtype: object)
(451, age                  30
sex                male
bmi               24.13
children              1
smoker               no
region        northwest
charges       4032.2407
Total         4056.3707
percentage     8.112741
Grade         pass/fail
Name: 451, dtype: object)
(452, age                  24
sex                male
bmi                23.4
children              0
smoker               no
region        southwest
charges        1969.614
Total          1993.014
percentage     3.986028
Grade         pass/fail
Name: 452, dtype: object)
(453, age                   20
sex                 male
bmi               29.735
children               0
smoker                no
region         northwest
charges       1769.53165
Total         1799.26665
percentage      3.598533
Grade          pass/fail
Name: 453, dtype: object)
(454, age                  32
sex                male
bmi               46.53
children              2
smoker               no
region        southeast
charges       4686.3887
Total         4732.9187
percentage     9.465837
Grade         pass/fail
Name: 454, dtype: object)
(455, age                   59
sex                 male
bmi                 37.4
children               0
smoker                no
region         southwest
charges       21797.0004
Total         21834.4004
percentage     43.668801
Grade          pass/fail
Name: 455, dtype: object)
(456, age                   55
sex               female
bmi                30.14
children               2
smoker                no
region         southeast
charges       11881.9696
Total         11912.1096
percentage     23.824219
Grade          pass/fail
Name: 456, dtype: object)
(457, age                    57
sex                female
bmi                30.495
children                0
smoker                 no
region          northwest
charges       11840.77505
Total         11871.27005
percentage       23.74254
Grade           pass/fail
Name: 457, dtype: object)
(458, age                  56
sex                male
bmi                39.6
children              0
smoker               no
region        southwest
charges       10601.412
Total         10641.012
percentage    21.282024
Grade         pass/fail
Name: 458, dtype: object)
(459, age                  40
sex              female
bmi                33.0
children              3
smoker               no
region        southeast
charges         7682.67
Total           7715.67
percentage     15.43134
Grade         pass/fail
Name: 459, dtype: object)
(460, age                   49
sex               female
bmi                36.63
children               3
smoker                no
region         southeast
charges       10381.4787
Total         10418.1087
percentage     20.836217
Grade          pass/fail
Name: 460, dtype: object)
(461, age                  42
sex                male
bmi                30.0
children              0
smoker              yes
region        southwest
charges       22144.032
Total         22174.032
percentage    44.348064
Grade         pass/fail
Name: 461, dtype: object)
(462, age                    62
sex                female
bmi                38.095
children                2
smoker                 no
region          northeast
charges       15230.32405
Total         15268.41905
percentage      30.536838
Grade           pass/fail
Name: 462, dtype: object)
(463, age                    56
sex                  male
bmi                25.935
children                0
smoker                 no
region          northeast
charges       11165.41765
Total         11191.35265
percentage      22.382705
Grade           pass/fail
Name: 463, dtype: object)
(464, age                   19
sex                 male
bmi               25.175
children               0
smoker                no
region         northwest
charges       1632.03625
Total         1657.21125
percentage      3.314423
Grade          pass/fail
Name: 464, dtype: object)
(465, age                   30
sex               female
bmi                28.38
children               1
smoker               yes
region         southeast
charges       19521.9682
Total         19550.3482
percentage     39.100696
Grade          pass/fail
Name: 465, dtype: object)
(466, age                  60
sex              female
bmi                28.7
children              1
smoker               no
region        southwest
charges       13224.693
Total         13253.393
percentage    26.506786
Grade         pass/fail
Name: 466, dtype: object)
(467, age                   56
sex               female
bmi                33.82
children               2
smoker                no
region         northwest
charges       12643.3778
Total         12677.1978
percentage     25.354396
Grade          pass/fail
Name: 467, dtype: object)
(468, age                   28
sex               female
bmi                24.32
children               1
smoker                no
region         northeast
charges       23288.9284
Total         23313.2484
percentage     46.626497
Grade          pass/fail
Name: 468, dtype: object)
(469, age                  18
sex              female
bmi               24.09
children              1
smoker               no
region        southeast
charges       2201.0971
Total         2225.1871
percentage     4.450374
Grade         pass/fail
Name: 469, dtype: object)
(470, age                  27
sex                male
bmi               32.67
children              0
smoker               no
region        southeast
charges       2497.0383
Total         2529.7083
percentage     5.059417
Grade         pass/fail
Name: 470, dtype: object)
(471, age                   18
sex               female
bmi               30.115
children               0
smoker                no
region         northeast
charges       2203.47185
Total         2233.58685
percentage      4.467174
Grade          pass/fail
Name: 471, dtype: object)
(472, age                  19
sex              female
bmi                29.8
children              0
smoker               no
region        southwest
charges        1744.465
Total          1774.265

Name: 670, dtype: object)
(671, age                  29
sex              female
bmi               31.16
children              0
smoker               no
region        northeast
charges       3943.5954
Total         3974.7554
percentage     7.949511
Grade         pass/fail
Name: 671, dtype: object)
(672, age                  36
sex                male
bmi                29.7
children              0
smoker               no
region        southeast
charges        4399.731
Total          4429.431
percentage     8.858862
Grade         pass/fail
Name: 672, dtype: object)
(673, age                  41
sex              female
bmi               31.02
children              0
smoker               no
region        southeast
charges       6185.3208
Total         6216.3408
percentage    12.432682
Grade         pass/fail
Name: 673, dtype: object)
(674, age                   44
sex               female
bmi                43.89
children               2
smoker               yes
region         southeast
charges       46200.9851
Total         46244.8751
percentage      92.48975
Grade          pass/fail
Name: 674, dtype: object)
(675, age                   45
sex                 male
bmi               21.375
children               0
smoker                no
region         northwest
charges       7222.78625
Total         7244.16125
percentage     14.488323
Grade          pass/fail
Name: 675, dtype: object)
(676, age                   55
sex               female
bmi                40.81
children               3
smoker                no
region         southeast
charges       12485.8009
Total         12526.6109
percentage     25.053222
Grade          pass/fail
Name: 676, dtype: object)
(677, age                   60
sex                 male
bmi                31.35
children               3
smoker               yes
region         northwest
charges       46130.5265
Total         46161.8765
percentage     92.323753
Grade          pass/fail
Name: 677, dtype: object)
(678, age                  56
sex                male
bmi                36.1
children              3
smoker               no
region        southwest
charges       12363.547
Total         12399.647
percentage    24.799294
Grade         pass/fail
Name: 678, dtype: object)
(679, age                   49
sex               female
bmi                23.18
children               2
smoker                no
region         northwest
charges       10156.7832
Total         10179.9632
percentage     20.359926
Grade          pass/fail
Name: 679, dtype: object)
(680, age                  21
sex              female
bmi                17.4
children              1
smoker               no
region        southwest
charges        2585.269
Total          2602.669
percentage     5.205338
Grade         pass/fail
Name: 680, dtype: object)
(681, age                  19
sex                male
bmi                20.3
children              0
smoker               no
region        southwest
charges         1242.26
Total           1262.56
percentage      2.52512
Grade         pass/fail
Name: 681, dtype: object)
(682, age                  39
sex                male
bmi                35.3
children              2
smoker              yes
region        southwest
charges        40103.89
Total          40139.19
percentage     80.27838
Grade         pass/fail
Name: 682, dtype: object)
(683, age                  53
sex                male
bmi               24.32
children              0
smoker               no
region        northwest
charges       9863.4718
Total         9887.7918
percentage    19.775584
Grade         pass/fail
Name: 683, dtype: object)
(684, age                  33
sex              female
bmi                18.5
children              1
smoker               no
region        southwest
charges        4766.022
Total          4784.522
percentage     9.569044
Grade         pass/fail
Name: 684, dtype: object)
(685, age                   53
sex                 male
bmi                26.41
children               2
smoker                no
region         northeast
charges       11244.3769
Total         11270.7869
percentage     22.541574
Grade          pass/fail
Name: 685, dtype: object)
(686, age                   42
sex                 male
bmi               26.125
children               2
smoker                no
region         northeast
charges       7729.64575
Total         7755.77075
percentage     15.511541
Grade          pass/fail
Name: 686, dtype: object)
(687, age                  40
sex                male
bmi               41.69
children              0
smoker               no
region        southeast
charges       5438.7491
Total         5480.4391
percentage    10.960878
Grade         pass/fail
Name: 687, dtype: object)
(688, age                    47
sex                female
bmi                  24.1
children                1
smoker                 no
region          southwest
charges       26236.57997
Total         26260.67997
percentage       52.52136
Grade           pass/fail
Name: 688, dtype: object)
(689, age                   27
sex                 male
bmi                31.13
children               1
smoker               yes
region         southeast
charges       34806.4677
Total         34837.5977
percentage     69.675195
Grade          pass/fail
Name: 689, dtype: object)
(690, age                  21
sex                male
bmi               27.36
children              0
smoker               no
region        northeast
charges       2104.1134
Total         2131.4734
percentage     4.262947
Grade         pass/fail
Name: 690, dtype: object)
(691, age                  47
sex                male
bmi                36.2
children              1
smoker               no
region        southwest
charges        8068.185
Total          8104.385
percentage     16.20877
Grade         pass/fail
Name: 691, dtype: object)
(692, age                   20
sex                 male
bmi               32.395
children               1
smoker                no
region         northwest
charges       2362.22905
Total         2394.62405
percentage      4.789248
Grade          pass/fail
Name: 692, dtype: object)
(693, age                   24
sex                 male
bmi               23.655
children               0
smoker                no
region         northwest
charges       2352.96845
Total         2376.62345
percentage      4.753247
Grade          pass/fail
Name: 693, dtype: object)
(694, age                  27
sex              female
bmi                34.8
children              1
smoker               no
region        southwest
charges        3577.999
Total          3612.799
percentage     7.225598
Grade         pass/fail
Name: 694, dtype: object)
(695, age                   26
sex               female
bmi               40.185
children               0
smoker                no
region         northwest
charges       3201.24515
Total         3241.43015
percentage       6.48286
Grade          pass/fail
Name: 695, dtype: object)
(696, age                    53
sex                female
bmi                  32.3
children                2
smoker                 no
region          northeast
charges       29186.48236
Total         29218.78236
percentage      58.437565
Grade           pass/fail
Name: 696, dtype: object)
(697, age                   41
sex                 male
bmi                35.75
children               1
smoker               yes
region         southeast
charges       40273.6455
Total         40309.3955
percentage     80.618791
Grade          pass/fail
Name: 697, dtype: object)
(698, age                    56
sex                  male
bmi                33.725
children                0
smoker                 no
region          northwest
charges       10976.24575
Total         11009.97075
percentage      22.019942
Grade           pass/fail
Name: 698, dtype: object)
(699, age                  23
sex              female
bmi               39.27
children              2
smoker               no
region        southeast
charges       3500.6123
Total         3539.8823
percentage     7.079765
Grade         pass/fail
Name: 699, dtype: object)
(700, age                  21
sex              female
bmi               34.87
children              0
smoker               no
region        southeast
charges       2020.5523
Total         2055.4223
percentage     4.110845
Grade         pass/fail
Name: 700, dtype: object)
(701, age                   50
sex               female
bmi               44.745
children               0
smoker                no
region         northeast
charges       9541.69555
Total         9586.44055
percentage     19.172881
Grade          pass/fail
Name: 701, dtype: object)
(702, age                  53
sex                male
bmi               41.47
children              0
smoker               no
region        southeast
charges       9504.3103
Total         9545.7803
percentage    19.091561
Grade         pass/fail
Name: 702, dtype: object)
(703, age                  34
sex              female
bmi               26.41
children              1
smoker               no
region        northwest
charges       5385.3379
Total         5411.7479
percentage    10.823496
Grade         pass/fail
Name: 703, dtype: object)
(704, age                   47
sex               female
bmi               29.545
children               1
smoker                no
region         northwest
charges       8930.93455
Total         8960.47955
percentage     17.920959
Grade          pass/fail
Name: 704, dtype: object)
(705, age                  33
sex              female
bmi                32.9
children              2
smoker               no
region        southwest
charges        5375.038
Total          5407.938
percentage    10.815876
Grade         pass/fail
Name: 705, dtype: object)
(706, age                   51
sex               female
bmi                38.06
children               0
smoker               yes
region         southeast
charges       44400.4064
Total         44438.4664
percentage     88.876933
Grade          pass/fail
Name: 706, dtype: object)
(707, age                   49
sex                 male
bmi                28.69
children               3
smoker                no
region         northwest
charges       10264.4421
Total         10293.1321
percentage     20.586264
Grade          pass/fail
Name: 707, dtype: object)
(708, age                   31
sex               female
bmi               30.495
children               3
smoker                no
region         northeast
charges       6113.23105
Total         6143.72605
percentage     12.287452
Grade          pass/fail
Name: 708, dtype: object)
(709, age                  36
sex              female
bmi               27.74
children              0
smoker               no
region        northeast
charges       5469.0066
Total         5496.7466
percentage    10.993493
Grade         pass/fail
Name: 709, dtype: object)
(710, age                  18
sex                male
bmi                35.2
children              1
smoker               no
region        southeast
charges         1727.54
Total           1762.74
percentage      3.52548
Grade         pass/fail
Name: 710, dtype: object)
(711, age                   50
sex               female
bmi                23.54
children               2
smoker                no
region         southeast
charges       10107.2206
Total         10130.7606
percentage     20.261521
Grade          pass/fail
Name: 711, dtype: object)
(712, age                   43
sex               female
bmi               30.685
children               2
smoker                no
region         northwest
charges       8310.83915
Total         8341.52415
percentage     16.683048
Grade          pass/fail
Name: 712, dtype: object)
(713, age                  20
sex                male
bmi               40.47
children              0
smoker               no
region        northeast
charges       1984.4533
Total         2024.9233
percentage     4.049847
Grade         pass/fail
Name: 713, dtype: object)
(714, age                  24
sex              female
bmi                22.6
children              0
smoker               no
region        southwest
charges        2457.502
Total          2480.102
percentage     4.960204
Grade         pass/fail
Name: 714, dtype: object)
(715, age                  60
sex                male
bmi                28.9
children              0
smoker               no
region        southwest
charges       12146.971
Total         12175.871
percentage    24.351742
Grade         pass/fail
Name: 715, dtype: object)
(716, age                  49
sex              female
bmi               22.61
children              1
smoker               no
region        northwest
charges       9566.9909
Total         9589.6009
percentage    19.179202
Grade         pass/fail
Name: 716, dtype: object)
(717, age                   60
sex                 male
bmi                24.32
children               1
smoker                no
region         northwest
charges       13112.6048
Total         13136.9248
percentage      26.27385
Grade          pass/fail
Name: 717, dtype: object)
(718, age                   51
sex               female
bmi                36.67
children               2
smoker                no
region         northwest
charges       10848.1343
Total         10884.8043
percentage     21.769609
Grade          pass/fail
Name: 718, dtype: object)
(719, age                   58
sex               female
bmi                33.44
children               0
smoker                no
region         northwest
charges       12231.6136
Total         12265.0536
percentage     24.530107
Grade          pass/fail
Name: 719, dtype: object)
(720, age                  51
sex              female
bmi               40.66
children              0
smoker               no
region        northeast
charges       9875.6804
Total         9916.3404
percentage    19.832681
Grade         pass/fail
Name: 720, dtype: object)
(721, age                  53
sex                male
bmi                36.6
children              3
smoker               no
region        southwest
charges       11264.541
Total         11301.141
percentage    22.602282
Grade         pass/fail
Name: 721, dtype: object)
(722, age                  62
sex                male
bmi                37.4
children              0
smoker               no
region        southwest
charges       12979.358
Total         13016.758
percentage    26.033516
Grade         pass/fail
Name: 722, dtype: object)
(723, age                  19
sex                male
bmi                35.4
children              0
smoker               no
region        southwest
charges        1263.249
Total          1298.649
percentage     2.597298
Grade         pass/fail
Name: 723, dtype: object)
(724, age                    50
sex                female
bmi                27.075
children                1
smoker                 no
region          northeast
charges       10106.13425
Total         10133.20925
percentage      20.266419
Grade           pass/fail
Name: 724, dtype: object)
(725, age                   30
sex               female
bmi                39.05
children               3
smoker               yes
region         southeast
charges       40932.4295
Total         40971.4795
percentage     81.942959
Grade          pass/fail
Name: 725, dtype: object)
(726, age                   41
sex                 male
bmi               28.405
children               1
smoker                no
region         northwest
charges       6664.68595
Total         6693.09095
percentage     13.386182
Grade          pass/fail
Name: 726, dtype: object)
(727, age                    29
sex                female
bmi                21.755
children                1
smoker                yes
region          northeast
charges       16657.71745
Total         16679.47245
percentage      33.358945
Grade           pass/fail
Name: 727, dtype: object)
(728, age                  18
sex              female
bmi               40.28
children              0
smoker               no
region        northeast
charges       2217.6012
Total         2257.8812
percentage     4.515762
Grade         pass/fail
Name: 728, dtype: object)
(729, age                  41
sex              female
bmi               36.08
children              1
smoker               no
region        southeast
charges       6781.3542
Total         6817.4342
percentage    13.634868
Grade         pass/fail
Name: 729, dtype: object)
(730, age                   35
sex                 male
bmi                24.42
children               3
smoker               yes
region         southeast
charges       19361.9988
Total         19386.4188
percentage     38.772838
Grade          pass/fail
Name: 730, dtype: object)
(731, age                  53
sex                male
bmi                21.4
children              1
smoker               no
region        southwest
charges       10065.413
Total         10086.813
percentage    20.173626
Grade         pass/fail
Name: 731, dtype: object)
(732, age                  24
sex              female
bmi                30.1
children              3
smoker               no
region        southwest
charges        4234.927
Total          4265.027
percentage     8.530054
Grade         pass/fail
Name: 732, dtype: object)
(733, age                   48
sex               female
bmi               27.265
children               1
smoker                no
region         northeast
charges       9447.25035
Total         9474.51535
percentage     18.949031
Grade          pass/fail
Name: 733, dtype: object)
(734, age                  59
sex              female
bmi                32.1
children              3
smoker               no
region        southwest
charges       14007.222
Total         14039.322
percentage    28.078644
Grade         pass/fail
Name: 734, dtype: object)
(735, age                  49
sex              female
bmi               34.77
children              1
smoker               no
region        northwest
charges       9583.8933
Total         9618.6633
percentage    19.237327
Grade         pass/fail
Name: 735, dtype: object)
(736, age                   37
sex               female
bmi                38.39
children               0
smoker               yes
region         southeast
charges       40419.0191
Total         40457.4091
percentage     80.914818
Grade          pass/fail
Name: 736, dtype: object)
(737, age                  26
sex                male
bmi                23.7
children              2
smoker               no
region        southwest
charges        3484.331
Total          3508.031
percentage     7.016062
Grade         pass/fail
Name: 737, dtype: object)
(738, age                   23
sex                 male
bmi                31.73
children               3
smoker               yes
region         northeast
charges       36189.1017
Total         36220.8317
percentage     72.441663
Grade          pass/fail
Name: 738, dtype: object)
(739, age                    29
sex                  male
bmi                  35.5
children                2
smoker                yes
region          southwest
charges       44585.45587
Total         44620.95587
percentage      89.241912
Grade           pass/fail
Name: 739, dtype: object)
(740, age                   45
sex                 male
bmi               24.035
children               2
smoker                no
region         northeast
charges       8604.48365
Total         8628.51865
percentage     17.257037
Grade          pass/fail
Name: 740, dtype: object)
(741, age                   27
sex                 male
bmi                29.15
children               0
smoker               yes
region         southeast
charges       18246.4955
Total         18275.6455
percentage     36.551291
Grade          pass/fail
Name: 741, dtype: object)
(742, age                    53
sex                  male
bmi                34.105
children                0
smoker                yes
region          northeast
charges       43254.41795
Total         43288.52295
percentage      86.577046

Name: 825, dtype: object)
(826, age                   56
sex                 male
bmi                31.79
children               2
smoker               yes
region         southeast
charges       43813.8661
Total         43845.6561
percentage     87.691312
Grade          pass/fail
Name: 826, dtype: object)
(827, age                    36
sex                  male
bmi                28.025
children                1
smoker                yes
region          northeast
charges       20773.62775
Total         20801.65275
percentage      41.603306
Grade           pass/fail
Name: 827, dtype: object)
(828, age                   41
sex                 male
bmi                30.78
children               3
smoker               yes
region         northeast
charges       39597.4072
Total         39628.1872
percentage     79.256374
Grade          pass/fail
Name: 828, dtype: object)
(829, age                  39
sex                male
bmi               21.85
children              1
smoker               no
region        northwest
charges       6117.4945
Total         6139.3445
percentage    12.278689
Grade         pass/fail
Name: 829, dtype: object)
(830, age                  63
sex                male
bmi                33.1
children              0
smoker               no
region        southwest
charges       13393.756
Total         13426.856
percentage    26.853712
Grade         pass/fail
Name: 830, dtype: object)
(831, age                  36
sex              female
bmi               25.84
children              0
smoker               no
region        northwest
charges       5266.3656
Total         5292.2056
percentage    10.584411
Grade         pass/fail
Name: 831, dtype: object)
(832, age                   28
sex               female
bmi               23.845
children               2
smoker                no
region         northwest
charges       4719.73655
Total         4743.58155
percentage      9.487163
Grade          pass/fail
Name: 832, dtype: object)
(833, age                   58
sex                 male
bmi                34.39
children               0
smoker                no
region         northwest
charges       11743.9341
Total         11778.3241
percentage     23.556648
Grade          pass/fail
Name: 833, dtype: object)
(834, age                  36
sex                male
bmi               33.82
children              1
smoker               no
region        northwest
charges       5377.4578
Total         5411.2778
percentage    10.822556
Grade         pass/fail
Name: 834, dtype: object)
(835, age                  42
sex                male
bmi               35.97
children              2
smoker               no
region        southeast
charges       7160.3303
Total         7196.3003
percentage    14.392601
Grade         pass/fail
Name: 835, dtype: object)
(836, age                  36
sex                male
bmi                31.5
children              0
smoker               no
region        southwest
charges        4402.233
Total          4433.733
percentage     8.867466
Grade         pass/fail
Name: 836, dtype: object)
(837, age                   56
sex               female
bmi                28.31
children               0
smoker                no
region         northeast
charges       11657.7189
Total         11686.0289
percentage     23.372058
Grade          pass/fail
Name: 837, dtype: object)
(838, age                   35
sex               female
bmi               23.465
children               2
smoker                no
region         northeast
charges       6402.29135
Total         6425.75635
percentage     12.851513
Grade          pass/fail
Name: 838, dtype: object)
(839, age                   59
sex               female
bmi                31.35
children               0
smoker                no
region         northwest
charges       12622.1795
Total         12653.5295
percentage     25.307059
Grade          pass/fail
Name: 839, dtype: object)
(840, age                  21
sex                male
bmi                31.1
children              0
smoker               no
region        southwest
charges        1526.312
Total          1557.412
percentage     3.114824
Grade         pass/fail
Name: 840, dtype: object)
(841, age                  59
sex                male
bmi                24.7
children              0
smoker               no
region        northeast
charges       12323.936
Total         12348.636
percentage    24.697272
Grade         pass/fail
Name: 841, dtype: object)
(842, age                   23
sex               female
bmi                32.78
children               2
smoker               yes
region         southeast
charges       36021.0112
Total         36053.7912
percentage     72.107582
Grade          pass/fail
Name: 842, dtype: object)
(843, age                   57
sex               female
bmi                29.81
children               0
smoker               yes
region         southeast
charges       27533.9129
Total         27563.7229
percentage     55.127446
Grade          pass/fail
Name: 843, dtype: object)
(844, age                    53
sex                  male
bmi                30.495
children                0
smoker                 no
region          northeast
charges       10072.05505
Total         10102.55005
percentage        20.2051
Grade           pass/fail
Name: 844, dtype: object)
(845, age                   60
sex               female
bmi                32.45
children               0
smoker               yes
region         southeast
charges       45008.9555
Total         45041.4055
percentage     90.082811
Grade          pass/fail
Name: 845, dtype: object)
(846, age                  51
sex              female
bmi                34.2
children              1
smoker               no
region        southwest
charges        9872.701
Total          9906.901
percentage    19.813802
Grade         pass/fail
Name: 846, dtype: object)
(847, age                  23
sex                male
bmi               50.38
children              1
smoker               no
region        southeast
charges       2438.0552
Total         2488.4352
percentage      4.97687
Grade         pass/fail
Name: 847, dtype: object)
(848, age                  27
sex              female
bmi                24.1
children              0
smoker               no
region        southwest
charges        2974.126
Total          2998.226
percentage     5.996452
Grade         pass/fail
Name: 848, dtype: object)
(849, age                    55
sex                  male
bmi                32.775
children                0
smoker                 no
region          northwest
charges       10601.63225
Total         10634.40725
percentage      21.268815
Grade           pass/fail
Name: 849, dtype: object)
(850, age                   37
sex               female
bmi                30.78
children               0
smoker               yes
region         northeast
charges       37270.1512
Total         37300.9312
percentage     74.601862
Grade          pass/fail
Name: 850, dtype: object)
(851, age                  61
sex                male
bmi                32.3
children              2
smoker               no
region        northwest
charges        14119.62
Total          14151.92
percentage     28.30384
Grade         pass/fail
Name: 851, dtype: object)
(852, age                   46
sex               female
bmi                35.53
children               0
smoker               yes
region         northeast
charges       42111.6647
Total         42147.1947
percentage     84.294389
Grade          pass/fail
Name: 852, dtype: object)
(853, age                   53
sex               female
bmi                23.75
children               2
smoker                no
region         northeast
charges       11729.6795
Total         11753.4295
percentage     23.506859
Grade          pass/fail
Name: 853, dtype: object)
(854, age                    49
sex                female
bmi                23.845
children                3
smoker                yes
region          northeast
charges       24106.91255
Total         24130.75755
percentage      48.261515
Grade           pass/fail
Name: 854, dtype: object)
(855, age                  20
sex              female
bmi                29.6
children              0
smoker               no
region        southwest
charges        1875.344
Total          1904.944
percentage     3.809888
Grade         pass/fail
Name: 855, dtype: object)
(856, age                   48
sex               female
bmi                33.11
children               0
smoker               yes
region         southeast
charges       40974.1649
Total         41007.2749
percentage      82.01455
Grade          pass/fail
Name: 856, dtype: object)
(857, age                   25
sex                 male
bmi                24.13
children               0
smoker               yes
region         northwest
charges       15817.9857
Total         15842.1157
percentage     31.684231
Grade          pass/fail
Name: 857, dtype: object)
(858, age                    25
sex                female
bmi                 32.23
children                1
smoker                 no
region          southeast
charges       18218.16139
Total         18250.39139
percentage      36.500783
Grade           pass/fail
Name: 858, dtype: object)
(859, age                  57
sex                male
bmi                28.1
children              0
smoker               no
region        southwest
charges       10965.446
Total         10993.546
percentage    21.987092
Grade         pass/fail
Name: 859, dtype: object)
(860, age                  37
sex              female
bmi                47.6
children              2
smoker              yes
region        southwest
charges       46113.511
Total         46161.111
percentage    92.322222
Grade         pass/fail
Name: 860, dtype: object)
(861, age                  38
sex              female
bmi                28.0
children              3
smoker               no
region        southwest
charges        7151.092
Total          7179.092
percentage    14.358184
Grade         pass/fail
Name: 861, dtype: object)
(862, age                    55
sex                female
bmi                33.535
children                2
smoker                 no
region          northwest
charges       12269.68865
Total         12303.22365
percentage      24.606447
Grade           pass/fail
Name: 862, dtype: object)
(863, age                   36
sex               female
bmi               19.855
children               0
smoker                no
region         northeast
charges       5458.04645
Total         5477.90145
percentage     10.955803
Grade          pass/fail
Name: 863, dtype: object)
(864, age                  51
sex                male
bmi                25.4
children              0
smoker               no
region        southwest
charges        8782.469
Total          8807.869
percentage    17.615738
Grade         pass/fail
Name: 864, dtype: object)
(865, age                  40
sex                male
bmi                29.9
children              2
smoker               no
region        southwest
charges        6600.361
Total          6630.261
percentage    13.260522
Grade         pass/fail
Name: 865, dtype: object)
(866, age                  18
sex                male
bmi               37.29
children              0
smoker               no
region        southeast
charges       1141.4451
Total         1178.7351
percentage      2.35747
Grade         pass/fail
Name: 866, dtype: object)
(867, age                  57
sex                male
bmi                43.7
children              1
smoker               no
region        southwest
charges        11576.13
Total          11619.83
percentage     23.23966
Grade         pass/fail
Name: 867, dtype: object)
(868, age                    61
sex                  male
bmi                23.655
children                0
smoker                 no
region          northeast
charges       13129.60345
Total         13153.25845
percentage      26.306517
Grade           pass/fail
Name: 868, dtype: object)
(869, age                  25
sex              female
bmi                24.3
children              3
smoker               no
region        southwest
charges        4391.652
Total          4415.952
percentage     8.831904
Grade         pass/fail
Name: 869, dtype: object)
(870, age                  50
sex                male
bmi                36.2
children              0
smoker               no
region        southwest
charges        8457.818
Total          8494.018
percentage    16.988036
Grade         pass/fail
Name: 870, dtype: object)
(871, age                  26
sex              female
bmi               29.48
children              1
smoker               no
region        southeast
charges       3392.3652
Total         3421.8452
percentage      6.84369
Grade         pass/fail
Name: 871, dtype: object)
(872, age                  42
sex                male
bmi               24.86
children              0
smoker               no
region        southeast
charges       5966.8874
Total         5991.7474
percentage    11.983495
Grade         pass/fail
Name: 872, dtype: object)
(873, age                  43
sex                male
bmi                30.1
children              1
smoker               no
region        southwest
charges        6849.026
Total          6879.126
percentage    13.758252
Grade         pass/fail
Name: 873, dtype: object)
(874, age                  44
sex                male
bmi               21.85
children              3
smoker               no
region        northeast
charges       8891.1395
Total         8912.9895
percentage    17.825979
Grade         pass/fail
Name: 874, dtype: object)
(875, age                  23
sex              female
bmi               28.12
children              0
smoker               no
region        northwest
charges       2690.1138
Total         2718.2338
percentage     5.436468
Grade         pass/fail
Name: 875, dtype: object)
(876, age                   49
sex               female
bmi                 27.1
children               1
smoker                no
region         southwest
charges       26140.3603
Total         26167.4603
percentage     52.334921
Grade          pass/fail
Name: 876, dtype: object)
(877, age                  33
sex                male
bmi               33.44
children              5
smoker               no
region        southeast
charges       6653.7886
Total         6687.2286
percentage    13.374457
Grade         pass/fail
Name: 877, dtype: object)
(878, age                  41
sex                male
bmi                28.8
children              1
smoker               no
region        southwest
charges        6282.235
Total          6311.035
percentage     12.62207
Grade         pass/fail
Name: 878, dtype: object)
(879, age                  37
sex              female
bmi                29.5
children              2
smoker               no
region        southwest
charges        6311.952
Total          6341.452
percentage    12.682904
Grade         pass/fail
Name: 879, dtype: object)
(880, age                  22
sex                male
bmi                34.8
children              3
smoker               no
region        southwest
charges        3443.064
Total          3477.864
percentage     6.955728
Grade         pass/fail
Name: 880, dtype: object)
(881, age                  23
sex                male
bmi               27.36
children              1
smoker               no
region        northwest
charges       2789.0574
Total         2816.4174
percentage     5.632835
Grade         pass/fail
Name: 881, dtype: object)
(882, age                   21
sex               female
bmi               22.135
children               0
smoker                no
region         northeast
charges       2585.85065
Total         2607.98565
percentage      5.215971
Grade          pass/fail
Name: 882, dtype: object)
(883, age                   51
sex               female
bmi                37.05
children               3
smoker               yes
region         northeast
charges       46255.1125
Total         46292.1625
percentage     92.584325
Grade          pass/fail
Name: 883, dtype: object)
(884, age                   25
sex                 male
bmi               26.695
children               4
smoker                no
region         northwest
charges       4877.98105
Total         4904.67605
percentage      9.809352
Grade          pass/fail
Name: 884, dtype: object)
(885, age                   32
sex                 male
bmi                28.93
children               1
smoker               yes
region         southeast
charges       19719.6947
Total         19748.6247
percentage     39.497249
Grade          pass/fail
Name: 885, dtype: object)
(886, age                    57
sex                  male
bmi                28.975
children                0
smoker                yes
region          northeast
charges       27218.43725
Total         27247.41225
percentage      54.494824
Grade           pass/fail
Name: 886, dtype: object)
(887, age                  36
sex              female
bmi               30.02
children              0
smoker               no
region        northwest
charges       5272.1758
Total         5302.1958
percentage    10.604392
Grade         pass/fail
Name: 887, dtype: object)
(888, age                  22
sex                male
bmi                39.5
children              0
smoker               no
region        southwest
charges        1682.597
Total          1722.097
percentage     3.444194
Grade         pass/fail
Name: 888, dtype: object)
(889, age                   57
sex                 male
bmi                33.63
children               1
smoker                no
region         northwest
charges       11945.1327
Total         11978.7627
percentage     23.957525
Grade          pass/fail
Name: 889, dtype: object)
(890, age                    64
sex                female
bmi                26.885
children                0
smoker                yes
region          northwest
charges       29330.98315
Total         29357.86815
percentage      58.715736
Grade           pass/fail
Name: 890, dtype: object)
(891, age                  36
sex              female
bmi               29.04
children              4
smoker               no
region        southeast
charges       7243.8136
Total         7272.8536
percentage    14.545707
Grade         pass/fail
Name: 891, dtype: object)
(892, age                    54
sex                  male
bmi                24.035
children                0
smoker                 no
region          northeast
charges       10422.91665
Total         10446.95165
percentage      20.893903
Grade           pass/fail
Name: 892, dtype: object)
(893, age                   47
sex                 male
bmi                38.94
children               2
smoker               yes
region         southeast
charges       44202.6536
Total         44241.5936
percentage     88.483187
Grade          pass/fail
Name: 893, dtype: object)
(894, age                   62
sex                 male
bmi                32.11
children               0
smoker                no
region         northeast
charges       13555.0049
Total         13587.1149
percentage      27.17423
Grade          pass/fail
Name: 894, dtype: object)
(895, age                  61
sex              female
bmi                44.0
children              0
smoker               no
region        southwest
charges       13063.883
Total         13107.883
percentage    26.215766
Grade         pass/fail
Name: 895, dtype: object)
(896, age                    43
sex                female
bmi                20.045
children                2
smoker                yes
region          northeast
charges       19798.05455
Total         19818.09955
percentage      39.636199
Grade           pass/fail
Name: 896, dtype: object)
(897, age                   19
sex                 male
bmi               25.555
children               1
smoker                no
region         northwest
charges       2221.56445

Name: 1037, dtype: object)
(1038, age                  22
sex                male
bmi               28.88
children              0
smoker               no
region        northeast
charges       2250.8352
Total         2279.7152
percentage      4.55943
Grade         pass/fail
Name: 1038, dtype: object)
(1039, age                    19
sex                  male
bmi                27.265
children                2
smoker                 no
region          northwest
charges       22493.65964
Total         22520.92464
percentage      45.041849
Grade           pass/fail
Name: 1039, dtype: object)
(1040, age                    35
sex                female
bmi                28.025
children                0
smoker                yes
region          northwest
charges       20234.85475
Total         20262.87975
percentage      40.525759
Grade           pass/fail
Name: 1040, dtype: object)
(1041, age                   18
sex                 male
bmi               23.085
children               0
smoker                no
region         northeast
charges       1704.70015
Total         1727.78515
percentage       3.45557
Grade          pass/fail
Name: 1041, dtype: object)
(1042, age                    20
sex                  male
bmi                30.685
children                0
smoker                yes
region          northeast
charges       33475.81715
Total         33506.50215
percentage      67.013004
Grade           pass/fail
Name: 1042, dtype: object)
(1043, age                  28
sex              female
bmi                25.8
children              0
smoker               no
region        southwest
charges        3161.454
Total          3187.254
percentage     6.374508
Grade         pass/fail
Name: 1043, dtype: object)
(1044, age                    55
sex                  male
bmi                35.245
children                1
smoker                 no
region          northeast
charges       11394.06555
Total         11429.31055
percentage      22.858621
Grade           pass/fail
Name: 1044, dtype: object)
(1045, age                  43
sex              female
bmi                24.7
children              2
smoker              yes
region        northwest
charges        21880.82
Total          21905.52
percentage     43.81104
Grade         pass/fail
Name: 1045, dtype: object)
(1046, age                  43
sex              female
bmi               25.08
children              0
smoker               no
region        northeast
charges       7325.0482
Total         7350.1282
percentage    14.700256
Grade         pass/fail
Name: 1046, dtype: object)
(1047, age                   22
sex                 male
bmi                52.58
children               1
smoker               yes
region         southeast
charges       44501.3982
Total         44553.9782
percentage     89.107956
Grade          pass/fail
Name: 1047, dtype: object)
(1048, age                   25
sex               female
bmi               22.515
children               1
smoker                no
region         northwest
charges       3594.17085
Total         3616.68585
percentage      7.233372
Grade          pass/fail
Name: 1048, dtype: object)
(1049, age                  49
sex                male
bmi                30.9
children              0
smoker              yes
region        southwest
charges       39727.614
Total         39758.514
percentage    79.517028
Grade         pass/fail
Name: 1049, dtype: object)
(1050, age                   44
sex               female
bmi               36.955
children               1
smoker                no
region         northwest
charges       8023.13545
Total         8060.09045
percentage     16.120181
Grade          pass/fail
Name: 1050, dtype: object)
(1051, age                   64
sex                 male
bmi                26.41
children               0
smoker                no
region         northeast
charges       14394.5579
Total         14420.9679
percentage     28.841936
Grade          pass/fail
Name: 1051, dtype: object)
(1052, age                  49
sex                male
bmi               29.83
children              1
smoker               no
region        northeast
charges       9288.0267
Total         9317.8567
percentage    18.635713
Grade         pass/fail
Name: 1052, dtype: object)
(1053, age                  47
sex                male
bmi                29.8
children              3
smoker              yes
region        southwest
charges       25309.489
Total         25339.289
percentage    50.678578
Grade         pass/fail
Name: 1053, dtype: object)
(1054, age                  27
sex              female
bmi               21.47
children              0
smoker               no
region        northwest
charges       3353.4703
Total         3374.9403
percentage     6.749881
Grade         pass/fail
Name: 1054, dtype: object)
(1055, age                    55
sex                  male
bmi                27.645
children                0
smoker                 no
region          northwest
charges       10594.50155
Total         10622.14655
percentage      21.244293
Grade           pass/fail
Name: 1055, dtype: object)
(1056, age                  48
sex              female
bmi                28.9
children              0
smoker               no
region        southwest
charges        8277.523
Total          8306.423
percentage    16.612846
Grade         pass/fail
Name: 1056, dtype: object)
(1057, age                    45
sex                female
bmi                 31.79
children                0
smoker                 no
region          southeast
charges       17929.30337
Total         17961.09337
percentage      35.922187
Grade           pass/fail
Name: 1057, dtype: object)
(1058, age                  24
sex              female
bmi               39.49
children              0
smoker               no
region        southeast
charges       2480.9791
Total         2520.4691
percentage     5.040938
Grade         pass/fail
Name: 1058, dtype: object)
(1059, age                  32
sex                male
bmi               33.82
children              1
smoker               no
region        northwest
charges       4462.7218
Total         4496.5418
percentage     8.993084
Grade         pass/fail
Name: 1059, dtype: object)
(1060, age                  24
sex                male
bmi               32.01
children              0
smoker               no
region        southeast
charges       1981.5819
Total         2013.5919
percentage     4.027184
Grade         pass/fail
Name: 1060, dtype: object)
(1061, age                   57
sex                 male
bmi                27.94
children               1
smoker                no
region         southeast
charges       11554.2236
Total         11582.1636
percentage     23.164327
Grade          pass/fail
Name: 1061, dtype: object)
(1062, age                   59
sex                 male
bmi                41.14
children               1
smoker               yes
region         southeast
charges       48970.2476
Total         49011.3876
percentage     98.022775
Grade          pass/fail
Name: 1062, dtype: object)
(1063, age                   36
sex                 male
bmi               28.595
children               3
smoker                no
region         northwest
charges       6548.19505
Total         6576.79005
percentage      13.15358
Grade          pass/fail
Name: 1063, dtype: object)
(1064, age                  29
sex              female
bmi                25.6
children              4
smoker               no
region        southwest
charges        5708.867
Total          5734.467
percentage    11.468934
Grade         pass/fail
Name: 1064, dtype: object)
(1065, age                  42
sex              female
bmi                25.3
children              1
smoker               no
region        southwest
charges        7045.499
Total          7070.799
percentage    14.141598
Grade         pass/fail
Name: 1065, dtype: object)
(1066, age                  48
sex                male
bmi               37.29
children              2
smoker               no
region        southeast
charges       8978.1851
Total         9015.4751
percentage     18.03095
Grade         pass/fail
Name: 1066, dtype: object)
(1067, age                   39
sex                 male
bmi               42.655
children               0
smoker                no
region         northeast
charges       5757.41345
Total         5800.06845
percentage     11.600137
Grade          pass/fail
Name: 1067, dtype: object)
(1068, age                   63
sex                 male
bmi                21.66
children               1
smoker                no
region         northwest
charges       14349.8544
Total         14371.5144
percentage     28.743029
Grade          pass/fail
Name: 1068, dtype: object)
(1069, age                  54
sex              female
bmi                31.9
children              1
smoker               no
region        southeast
charges       10928.849
Total         10960.749
percentage    21.921498
Grade         pass/fail
Name: 1069, dtype: object)
(1070, age                   37
sex                 male
bmi                37.07
children               1
smoker               yes
region         southeast
charges       39871.7043
Total         39908.7743
percentage     79.817549
Grade          pass/fail
Name: 1070, dtype: object)
(1071, age                    63
sex                  male
bmi                31.445
children                0
smoker                 no
region          northeast
charges       13974.45555
Total         14005.90055
percentage      28.011801
Grade           pass/fail
Name: 1071, dtype: object)
(1072, age                   21
sex                 male
bmi               31.255
children               0
smoker                no
region         northwest
charges       1909.52745
Total         1940.78245
percentage      3.881565
Grade          pass/fail
Name: 1072, dtype: object)
(1073, age                   54
sex               female
bmi                28.88
children               2
smoker                no
region         northeast
charges       12096.6512
Total         12125.5312
percentage     24.251062
Grade          pass/fail
Name: 1073, dtype: object)
(1074, age                    60
sex                female
bmi                18.335
children                0
smoker                 no
region          northeast
charges       13204.28565
Total         13222.62065
percentage      26.445241
Grade           pass/fail
Name: 1074, dtype: object)
(1075, age                  32
sex              female
bmi               29.59
children              1
smoker               no
region        southeast
charges       4562.8421
Total         4592.4321
percentage     9.184864
Grade         pass/fail
Name: 1075, dtype: object)
(1076, age                  47
sex              female
bmi                32.0
children              1
smoker               no
region        southwest
charges        8551.347
Total          8583.347
percentage    17.166694
Grade         pass/fail
Name: 1076, dtype: object)
(1077, age                  21
sex                male
bmi               26.03
children              0
smoker               no
region        northeast
charges       2102.2647
Total         2128.2947
percentage     4.256589
Grade         pass/fail
Name: 1077, dtype: object)
(1078, age                   28
sex                 male
bmi                31.68
children               0
smoker               yes
region         southeast
charges       34672.1472
Total         34703.8272
percentage     69.407654
Grade          pass/fail
Name: 1078, dtype: object)
(1079, age                   63
sex                 male
bmi                33.66
children               3
smoker                no
region         southeast
charges       15161.5344
Total         15195.1944
percentage     30.390389
Grade          pass/fail
Name: 1079, dtype: object)
(1080, age                    18
sex                  male
bmi                 21.78
children                2
smoker                 no
region          southeast
charges       11884.04858
Total         11905.82858
percentage      23.811657
Grade           pass/fail
Name: 1080, dtype: object)
(1081, age                   32
sex                 male
bmi               27.835
children               1
smoker                no
region         northwest
charges       4454.40265
Total         4482.23765
percentage      8.964475
Grade          pass/fail
Name: 1081, dtype: object)
(1082, age                  38
sex                male
bmi               19.95
children              1
smoker               no
region        northwest
charges       5855.9025
Total         5875.8525
percentage    11.751705
Grade         pass/fail
Name: 1082, dtype: object)
(1083, age                  32
sex                male
bmi                31.5
children              1
smoker               no
region        southwest
charges        4076.497
Total          4107.997
percentage     8.215994
Grade         pass/fail
Name: 1083, dtype: object)
(1084, age                    62
sex                female
bmi                30.495
children                2
smoker                 no
region          northwest
charges       15019.76005
Total         15050.25505
percentage       30.10051
Grade           pass/fail
Name: 1084, dtype: object)
(1085, age                  39
sex              female
bmi                18.3
children              5
smoker              yes
region        southwest
charges        19023.26
Total          19041.56
percentage     38.08312
Grade         pass/fail
Name: 1085, dtype: object)
(1086, age                    55
sex                  male
bmi                28.975
children                0
smoker                 no
region          northeast
charges       10796.35025
Total         10825.32525
percentage      21.650651
Grade           pass/fail
Name: 1086, dtype: object)
(1087, age                   57
sex                 male
bmi                31.54
children               0
smoker                no
region         northwest
charges       11353.2276
Total         11384.7676
percentage     22.769535
Grade          pass/fail
Name: 1087, dtype: object)
(1088, age                  52
sex                male
bmi               47.74
children              1
smoker               no
region        southeast
charges       9748.9106
Total         9796.6506
percentage    19.593301
Grade         pass/fail
Name: 1088, dtype: object)
(1089, age                  56
sex                male
bmi                22.1
children              0
smoker               no
region        southwest
charges       10577.087
Total         10599.187
percentage    21.198374
Grade         pass/fail
Name: 1089, dtype: object)
(1090, age                   47
sex                 male
bmi                36.19
children               0
smoker               yes
region         southeast
charges       41676.0811
Total         41712.2711
percentage     83.424542
Grade          pass/fail
Name: 1090, dtype: object)
(1091, age                   55
sex               female
bmi                29.83
children               0
smoker                no
region         northeast
charges       11286.5387
Total         11316.3687
percentage     22.632737
Grade          pass/fail
Name: 1091, dtype: object)
(1092, age                  23
sex                male
bmi                32.7
children              3
smoker               no
region        southwest
charges         3591.48
Total           3624.18
percentage      7.24836
Grade         pass/fail
Name: 1092, dtype: object)
(1093, age                  22
sex              female
bmi                30.4
children              0
smoker              yes
region        northwest
charges       33907.548
Total         33937.948
percentage    67.875896
Grade         pass/fail
Name: 1093, dtype: object)
(1094, age                  50
sex              female
bmi                33.7
children              4
smoker               no
region        southwest
charges       11299.343
Total         11333.043
percentage    22.666086
Grade         pass/fail
Name: 1094, dtype: object)
(1095, age                  18
sex              female
bmi               31.35
children              4
smoker               no
region        northeast
charges       4561.1885
Total         4592.5385
percentage     9.185077
Grade         pass/fail
Name: 1095, dtype: object)
(1096, age                   51
sex               female
bmi                34.96
children               2
smoker               yes
region         northeast
charges       44641.1974
Total         44676.1574
percentage     89.352315
Grade          pass/fail
Name: 1096, dtype: object)
(1097, age                  22
sex                male
bmi               33.77
children              0
smoker               no
region        southeast
charges       1674.6323
Total         1708.4023
percentage     3.416805
Grade         pass/fail
Name: 1097, dtype: object)
(1098, age                    52
sex                female
bmi                30.875
children                0
smoker                 no
region          northeast
charges       23045.56616
Total         23076.44116
percentage      46.152882
Grade           pass/fail
Name: 1098, dtype: object)
(1099, age                  25
sex              female
bmi               33.99
children              1
smoker               no
region        southeast
charges       3227.1211
Total         3261.1111
percentage     6.522222
Grade         pass/fail
Name: 1099, dtype: object)
(1100, age                    33
sex                female
bmi                19.095
children                2
smoker                yes
region          northeast
charges       16776.30405
Total         16795.39905
percentage      33.590798
Grade           pass/fail
Name: 1100, dtype: object)
(1101, age                  53
sex                male
bmi                28.6
children              3
smoker               no
region        southwest
charges       11253.421
Total         11282.021
percentage    22.564042
Grade         pass/fail
Name: 1101, dtype: object)
(1102, age                  29
sex                male
bmi               38.94
children              1
smoker               no
region        southeast
charges       3471.4096
Total         3510.3496
percentage     7.020699
Grade         pass/fail
Name: 1102, dtype: object)
(1103, age                   58
sex                 male
bmi                36.08
children               0
smoker                no
region         southeast
charges       11363.2832
Total         11399.3632
percentage     22.798726
Grade          pass/fail
Name: 1103, dtype: object)
(1104, age                    37
sex                  male
bmi                  29.8
children                0
smoker                 no
region          southwest
charges       20420.60465
Total         20450.40465
percentage      40.900809
Grade           pass/fail
Name: 1104, dtype: object)
(1105, age                   54
sex               female
bmi                31.24
children               0
smoker                no
region         southeast
charges       10338.9316
Total         10370.1716
percentage     20.740343
Grade          pass/fail
Name: 1105, dtype: object)
(1106, age                   49
sex               female
bmi               29.925
children               0
smoker                no
region         northwest
charges       8988.15875
Total         9018.08375
percentage     18.036168
Grade          pass/fail
Name: 1106, dtype: object)
(1107, age                   50
sex               female
bmi                26.22
children               2
smoker                no
region         northwest
charges       10493.9458
Total         10520.1658
percentage     21.040332
Grade          pass/fail
Name: 1107, dtype: object)
(1108, age                  26
sex                male
bmi                30.0
children              1
smoker               no
region        southwest
charges        2904.088
Total          2934.088
percentage     5.868176
Grade         pass/fail

Name: 1289, dtype: object)
(1290, age                  38
sex              female
bmi               19.95
children              2
smoker               no
region        northeast
charges       7133.9025
Total         7153.8525
percentage    14.307705
Grade         pass/fail
Name: 1290, dtype: object)
(1291, age                  19
sex                male
bmi                34.9
children              0
smoker              yes
region        southwest
charges       34828.654
Total         34863.554
percentage    69.727108
Grade         pass/fail
Name: 1291, dtype: object)
(1292, age                  21
sex                male
bmi               23.21
children              0
smoker               no
region        southeast
charges       1515.3449
Total         1538.5549
percentage      3.07711
Grade         pass/fail
Name: 1292, dtype: object)
(1293, age                   46
sex                 male
bmi               25.745
children               3
smoker                no
region         northwest
charges       9301.89355
Total         9327.63855
percentage     18.655277
Grade          pass/fail
Name: 1293, dtype: object)
(1294, age                    58
sex                  male
bmi                25.175
children                0
smoker                 no
region          northeast
charges       11931.12525
Total         11956.30025
percentage        23.9126
Grade           pass/fail
Name: 1294, dtype: object)
(1295, age                  20
sex                male
bmi                22.0
children              1
smoker               no
region        southwest
charges         1964.78
Total           1986.78
percentage      3.97356
Grade         pass/fail
Name: 1295, dtype: object)
(1296, age                   18
sex                 male
bmi               26.125
children               0
smoker                no
region         northeast
charges       1708.92575
Total         1735.05075
percentage      3.470102
Grade          pass/fail
Name: 1296, dtype: object)
(1297, age                  28
sex              female
bmi               26.51
children              2
smoker               no
region        southeast
charges       4340.4409
Total         4366.9509
percentage     8.733902
Grade         pass/fail
Name: 1297, dtype: object)
(1298, age                   33
sex                 male
bmi               27.455
children               2
smoker                no
region         northwest
charges       5261.46945
Total         5288.92445
percentage     10.577849
Grade          pass/fail
Name: 1298, dtype: object)
(1299, age                   19
sex               female
bmi               25.745
children               1
smoker                no
region         northwest
charges       2710.82855
Total         2736.57355
percentage      5.473147
Grade          pass/fail
Name: 1299, dtype: object)
(1300, age                    45
sex                  male
bmi                 30.36
children                0
smoker                yes
region          southeast
charges       62592.87309
Total         62623.23309
percentage     125.246466
Grade           pass/fail
Name: 1300, dtype: object)
(1301, age                    62
sex                  male
bmi                30.875
children                3
smoker                yes
region          northwest
charges       46718.16325
Total         46749.03825
percentage      93.498076
Grade           pass/fail
Name: 1301, dtype: object)
(1302, age                  25
sex              female
bmi                20.8
children              1
smoker               no
region        southwest
charges        3208.787
Total          3229.587
percentage     6.459174
Grade         pass/fail
Name: 1302, dtype: object)
(1303, age                   43
sex                 male
bmi                 27.8
children               0
smoker               yes
region         southwest
charges       37829.7242
Total         37857.5242
percentage     75.715048
Grade          pass/fail
Name: 1303, dtype: object)
(1304, age                    42
sex                  male
bmi                24.605
children                2
smoker                yes
region          northeast
charges       21259.37795
Total         21283.98295
percentage      42.567966
Grade           pass/fail
Name: 1304, dtype: object)
(1305, age                  24
sex              female
bmi               27.72
children              0
smoker               no
region        southeast
charges       2464.6188
Total         2492.3388
percentage     4.984678
Grade         pass/fail
Name: 1305, dtype: object)
(1306, age                   29
sex               female
bmi                21.85
children               0
smoker               yes
region         northeast
charges       16115.3045
Total         16137.1545
percentage     32.274309
Grade          pass/fail
Name: 1306, dtype: object)
(1307, age                   32
sex                 male
bmi                28.12
children               4
smoker               yes
region         northwest
charges       21472.4788
Total         21500.5988
percentage     43.001198
Grade          pass/fail
Name: 1307, dtype: object)
(1308, age                  25
sex              female
bmi                30.2
children              0
smoker              yes
region        southwest
charges       33900.653
Total         33930.853
percentage    67.861706
Grade         pass/fail
Name: 1308, dtype: object)
(1309, age                  41
sex                male
bmi                32.2
children              2
smoker               no
region        southwest
charges        6875.961
Total          6908.161
percentage    13.816322
Grade         pass/fail
Name: 1309, dtype: object)
(1310, age                   42
sex                 male
bmi               26.315
children               1
smoker                no
region         northwest
charges       6940.90985
Total         6967.22485
percentage      13.93445
Grade          pass/fail
Name: 1310, dtype: object)
(1311, age                   33
sex               female
bmi               26.695
children               0
smoker                no
region         northwest
charges       4571.41305
Total         4598.10805
percentage      9.196216
Grade          pass/fail
Name: 1311, dtype: object)
(1312, age                  34
sex                male
bmi                42.9
children              1
smoker               no
region        southwest
charges        4536.259
Total          4579.159
percentage     9.158318
Grade         pass/fail
Name: 1312, dtype: object)
(1313, age                  19
sex              female
bmi                34.7
children              2
smoker              yes
region        southwest
charges       36397.576
Total         36432.276
percentage    72.864552
Grade         pass/fail
Name: 1313, dtype: object)
(1314, age                    30
sex                female
bmi                23.655
children                3
smoker                yes
region          northwest
charges       18765.87545
Total         18789.53045
percentage      37.579061
Grade           pass/fail
Name: 1314, dtype: object)
(1315, age                    18
sex                  male
bmi                 28.31
children                1
smoker                 no
region          northeast
charges       11272.33139
Total         11300.64139
percentage      22.601283
Grade           pass/fail
Name: 1315, dtype: object)
(1316, age                  19
sex              female
bmi                20.6
children              0
smoker               no
region        southwest
charges        1731.677
Total          1752.277
percentage     3.504554
Grade         pass/fail
Name: 1316, dtype: object)
(1317, age                  18
sex                male
bmi               53.13
children              0
smoker               no
region        southeast
charges       1163.4627
Total         1216.5927
percentage     2.433185
Grade         pass/fail
Name: 1317, dtype: object)
(1318, age                    35
sex                  male
bmi                 39.71
children                4
smoker                 no
region          northeast
charges       19496.71917
Total         19536.42917
percentage      39.072858
Grade           pass/fail
Name: 1318, dtype: object)
(1319, age                   39
sex               female
bmi               26.315
children               2
smoker                no
region         northwest
charges       7201.70085
Total         7228.01585
percentage     14.456032
Grade          pass/fail
Name: 1319, dtype: object)
(1320, age                   31
sex                 male
bmi               31.065
children               3
smoker                no
region         northwest
charges       5425.02335
Total         5456.08835
percentage     10.912177
Grade          pass/fail
Name: 1320, dtype: object)
(1321, age                    62
sex                  male
bmi                26.695
children                0
smoker                yes
region          northeast
charges       28101.33305
Total         28128.02805
percentage      56.256056
Grade           pass/fail
Name: 1321, dtype: object)
(1322, age                   62
sex                 male
bmi                38.83
children               0
smoker                no
region         southeast
charges       12981.3457
Total         13020.1757
percentage     26.040351
Grade          pass/fail
Name: 1322, dtype: object)
(1323, age                   42
sex               female
bmi                40.37
children               2
smoker               yes
region         southeast
charges       43896.3763
Total         43936.7463
percentage     87.873493
Grade          pass/fail
Name: 1323, dtype: object)
(1324, age                   31
sex                 male
bmi               25.935
children               1
smoker                no
region         northwest
charges       4239.89265
Total         4265.82765
percentage      8.531655
Grade          pass/fail
Name: 1324, dtype: object)
(1325, age                    61
sex                  male
bmi                33.535
children                0
smoker                 no
region          northeast
charges       13143.33665
Total         13176.87165
percentage      26.353743
Grade           pass/fail
Name: 1325, dtype: object)
(1326, age                  42
sex              female
bmi               32.87
children              0
smoker               no
region        northeast
charges       7050.0213
Total         7082.8913
percentage    14.165783
Grade         pass/fail
Name: 1326, dtype: object)
(1327, age                  51
sex                male
bmi               30.03
children              1
smoker               no
region        southeast
charges       9377.9047
Total         9407.9347
percentage    18.815869
Grade         pass/fail
Name: 1327, dtype: object)
(1328, age                    23
sex                female
bmi                24.225
children                2
smoker                 no
region          northeast
charges       22395.74424
Total         22419.96924
percentage      44.839938
Grade           pass/fail
Name: 1328, dtype: object)
(1329, age                  52
sex                male
bmi                38.6
children              2
smoker               no
region        southwest
charges       10325.206
Total         10363.806
percentage    20.727612
Grade         pass/fail
Name: 1329, dtype: object)
(1330, age                   57
sex               female
bmi                25.74
children               2
smoker                no
region         southeast
charges       12629.1656
Total         12654.9056
percentage     25.309811
Grade          pass/fail
Name: 1330, dtype: object)
(1331, age                    23
sex                female
bmi                  33.4
children                0
smoker                 no
region          southwest
charges       10795.93733
Total         10829.33733
percentage      21.658675
Grade           pass/fail
Name: 1331, dtype: object)
(1332, age                  52
sex              female
bmi                44.7
children              3
smoker               no
region        southwest
charges       11411.685
Total         11456.385
percentage     22.91277
Grade         pass/fail
Name: 1332, dtype: object)
(1333, age                   50
sex                 male
bmi                30.97
children               3
smoker                no
region         northwest
charges       10600.5483
Total         10631.5183
percentage     21.263037
Grade          pass/fail
Name: 1333, dtype: object)
(1334, age                  18
sex              female
bmi               31.92
children              0
smoker               no
region        northeast
charges       2205.9808
Total         2237.9008
percentage     4.475802
Grade         pass/fail
Name: 1334, dtype: object)
(1335, age                  18
sex              female
bmi               36.85
children              0
smoker               no
region        southeast
charges       1629.8335
Total         1666.6835
percentage     3.333367
Grade         pass/fail
Name: 1335, dtype: object)
(1336, age                  21
sex              female
bmi                25.8
children              0
smoker               no
region        southwest
charges        2007.945
Total          2033.745
percentage      4.06749
Grade         pass/fail
Name: 1336, dtype: object)
(1337, age                   61
sex               female
bmi                29.07
children               0
smoker               yes
region         northwest
charges       29141.3603
Total         29170.4303
percentage     58.340861
Grade          pass/fail
Name: 1337, dtype: object)

In [36]:
df['charges'].head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [37]:
df[6:20:3]

,age,sex,bmi,children,smoker,region,charges,Total,percentage,Grade
6,46,female,33.44,1,no,southeast,8240.58960,8274.02960,16.548059,pass/fail
9,60,female,25.84,0,no,northwest,28923.13692,28948.97692,57.897954,pass/fail
12,23,male,34.40,0,no,southwest,1826.84300,1861.24300,3.722486,pass/fail
15,19,male,24.60,1,no,southwest,1837.23700,1861.83700,3.723674,pass/fail
18,56,male,40.30,0,no,southwest,10602.38500,10642.68500,21.285370,pass/fail

In [38]:
df[['age','sex','Total']]

      age     sex        Total
0      19  female  16912.82400
1      18    male   1759.32230
2      28    male   4482.46200
3      33    male  22007.17561
4      32    male   3895.73520
...   ...     ...          ...
1333   50    male  10631.51830
1334   18  female   2237.90080
1335   18  female   1666.68350
1336   21  female   2033.74500
1337   61  female  29170.43030

[1337 rows x 3 columns]

In [39]:
df[['age','sex','Total']][4:40:4]

    age     sex        Total
4    32    male   3895.73520
8    37    male   6436.24070
12   23    male   1861.24300
16   52  female  10828.11620
20   60  female  13264.85195
24   37    male   6231.92675
28   23    male   2792.57715
32   19  female   4716.39700
36   62  female  15645.15835

In [40]:
df.loc[19]

age                  30
sex                male
bmi                35.3
children              0
smoker              yes
region        southwest
charges       36837.467
Total         36872.767
percentage    73.745534
Grade         pass/fail
Name: 19, dtype: object

In [41]:
df.loc[19,['age','children']]

age         30
children     0
Name: 19, dtype: object

In [42]:
df.loc[10:20]

,age,sex,bmi,children,smoker,region,charges,Total,percentage,Grade
10,25,male,26.220,0,no,northeast,2721.32080,2747.54080,5.495082,pass/fail
11,62,female,26.290,0,yes,southeast,27808.72510,27835.01510,55.670030,pass/fail
12,23,male,34.400,0,no,southwest,1826.84300,1861.24300,3.722486,pass/fail
13,56,female,39.820,0,no,southeast,11090.71780,11130.53780,22.261076,pass/fail
14,27,male,42.130,0,yes,southeast,39611.75770,39653.88770,79.307775,pass/fail
15,19,male,24.600,1,no,southwest,1837.23700,1861.83700,3.723674,pass/fail
16,52,female,30.780,1,no,northeast,10797.33620,10828.11620,21.656232,pass/fail
17,23,male,23.845,0,no,northeast,2395.17155,2419.01655,4.838033,pass/fail
18,56,male,40.300,0,no,southwest,10602.38500,10642.68500,21.285370,pass/fail
19,30,male,35.300,0,yes,southwest,36837.46700,36872.76700,73.745534,pass/fail
20,60,female,36.005,0,no,northeast,13228.84695,13264.85195,26.529704,pass/fail

In [43]:
df.loc[0:3,['age']]

   age
0   19
1   18
2   28
3   33

In [44]:
#progress bar
from tqdm.notebook import tqdm
for x in tqdm(range(10000000)):
    pass

  0%|          | 0/10000000 [00:00<?, ?it/s]

In [24]:
#merge the two datasets
import pandas as pd
d1={'Name':['venky','shyam','chandu','bhargav'],'age':[21,22,20,22],'Address':['Ramachadrapuram','Ravalapalem','Gunter','Anathapuram']}
d2={'Name':['geetha','sowmya','priya','sony'],'age':[19,21,20,22],'Address':['Hyderabad','Amalapuram','vizag','mumbai']}
data1=pd.DataFrame(d1)
data2=pd.DataFrame(d2)
data1
#data2
#res1=pd.concat([data1,data2],axis=1,join='inner')
#res1

     Name  age     Address
0  geetha   19   Hyderabad
1  sowmya   21  Amalapuram
2   priya   20       vizag
3    sony   22      mumbai

In [10]:
data1

      Name  age          Address
0    venky   21  Ramachadrapuram
1    shyam   22      Ravalapalem
2   chandu   20           Gunter
3  bhargav   22      Anathapuram

In [11]:
data2

     Name  age     Address
0  geetha   19   Hyderabad
1  sowmya   21  Amalapuram
2   priya   20       vizag
3    sony   22      mumbai

In [15]:
res=[data1,data2]
res=pd.concat([data1,data2],axis=1,join='inner')
res

      Name  age          Address    Name  age     Address
0    venky   21  Ramachadrapuram  geetha   19   Hyderabad
1    shyam   22      Ravalapalem  sowmya   21  Amalapuram
2   chandu   20           Gunter   priya   20       vizag
3  bhargav   22      Anathapuram    sony   22      mumbai

In [25]:
res=pd.concat([data1],ignore_index=True)

      Name  age          Address
0    venky   21  Ramachadrapuram
1    shyam   22      Ravalapalem
2   chandu   20           Gunter
3  bhargav   22      Anathapuram