In [2]:
import pandas as pd
df=pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
x=df.drop(['Sales'],axis=1)
y=df['Sales']
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [8]:
y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
print(x_train.shape)
print(x_train.size)
x_train.head()

(160, 3)
480

        TV  Radio  Newspaper
134   36.9   38.6       65.6
66    31.5   24.6        2.2
26   142.9   29.3       12.6
113  209.6   20.6       10.7
168  215.4   23.6       57.6

In [12]:
print(x_test.shape)
print(x_test.size)
x_test.head()

(40, 3)
120

        TV  Radio  Newspaper
18    69.2   20.5       18.3
170   50.0   11.6       18.4
107   90.4    0.3       23.2
98   289.7   42.3       51.2
177  170.2    7.8       35.2

In [13]:
print(y_train.shape)
print(y_train.size)
y_train.head()

(160,)
160

134    10.8
66     11.0
26     15.0
113    20.9
168    17.1
Name: Sales, dtype: float64

In [14]:
print(y_test.shape)
print(y_test.size)
y_test.head()

(40,)
40

18     11.3
170     8.4
107    12.0
98     25.4
177    16.7
Name: Sales, dtype: float64

In [15]:
from sklearn.tree import DecisionTreeRegressor
rg=DecisionTreeRegressor()
rg.fit(x_train,y_train)

DecisionTreeRegressor()

In [18]:
rg.score(x_test,y_test)

1.0

In [19]:
y_pred=rg.predict(x_test)
y_pred

array([11.3,  8.4, 12. , 25.4, 16.7,  8.7,  7.2, 18.2,  9.2, 16.6, 24.2,
       10.6, 15.5, 20.6, 11.8, 13.2, 17.4,  1.6, 14.7, 17. , 26.2, 10.3,
       16.1, 12.9,  8.1, 15.2, 17.6, 22.6, 16.6,  8.5, 12.5, 23.7, 16.1,
       21.8,  5.6,  6.7,  9.7, 17.9, 13.6,  7.2])

In [20]:
from sklearn import metrics
metrics.r2_score(y_pred,y_test)

1.0