In [1]:
#sql connection
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password')
mydb

In [3]:
#create a database 
mycursor=mydb.cursor()
mycursor.execute('CREATE DATABASE venkydb')

In [4]:
#Show The All Databases
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES')
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('mysql_cod',)
('mysql_code',)
('mysql_python',)
('performance_schema',)
('sys',)
('testdb',)
('tutorials',)
('venky',)
('venkydb',)

In [5]:
#Create A Table
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password'
                            ,database='venkydb')
mycursor=mydb.cursor()

mycursor.execute("CREATE TABLE students (name varchar(255),age integer(10))")

In [6]:
for tb in mycursor:
    print(tb)

In [7]:
#Insert the values
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password'
                            ,database='venkydb')

mycursor=mydb.cursor()
sqlformula="INSERT INTO students (name,age) values(%s,%s)"
students=[('Venky',22),
          ('Shyam',23),
          ('Chandu',21),
          ('Hemanth',22),
          ('Vinay',22)]
mycursor.executemany(sqlformula,students)
mydb.commit()

In [8]:
#selecting and getting data
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM students")
result=mycursor.fetchall()

In [9]:
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Shyam', 23)
('Chandu', 21)
('Hemanth', 22)
('Vinay', 22)

In [10]:
#specific rows
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT age FROM students")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

(22,)
(23,)
(21,)
(22,)
(22,)

In [11]:
#specific rows
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT name FROM students")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky',)
('Shyam',)
('Chandu',)
('Hemanth',)
('Vinay',)

In [2]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students where name='vinay'")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Vinay', 22)

In [3]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students where age = 22")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Hemanth', 22)
('Vinay', 22)

In [4]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students where age=21")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Chandu', 21)

In [11]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE 'V%' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Vinay', 22)

In [12]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE '%y' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Vinay', 22)

In [13]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE 'S%' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Shyam', 23)

In [14]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE 'H%' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Hemanth', 22)

In [16]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE '%h' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Hemanth', 22)

In [17]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE '%en%' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)

In [18]:
#query conditions with where and wildcards
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students WHERE name LIKE '%an%' ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Chandu', 21)
('Hemanth', 22)

In [24]:
#updated entries and limiting queries
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="update students set age=23 where name='chandu'"
mycursor.execute(sql)
mydb.commit()

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute("SELECT *FROM students ")
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Shyam', 23)
('Chandu', 23)
('Hemanth', 22)
('Vinay', 22)

In [35]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute('SELECT * FROM students LIMIT 3')
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Venky', 22)
('Shyam', 23)
('Chandu', 23)

In [36]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute('SELECT * FROM students LIMIT 3 OFFSET 2')
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Chandu', 23)
('Hemanth', 22)
('Vinay', 22)

In [40]:
#ordering our queries and results
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="SELECT * FROM students ORDER BY name"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for r in range(len(myresult)):
    print(myresult[r])

('Chandu', 23)
('Hemanth', 22)
('Shyam', 23)
('Venky', 22)
('Vinay', 22)

In [41]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="SELECT * FROM students ORDER BY age"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for r in range(len(myresult)):
    print(myresult[r])

('Venky', 22)
('Hemanth', 22)
('Vinay', 22)
('Shyam', 23)
('Chandu', 23)

In [43]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="SELECT * FROM students ORDER BY name DESC"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for r in range(len(myresult)):
    print(myresult[r])

('Vinay', 22)
('Venky', 22)
('Shyam', 23)
('Hemanth', 22)
('Chandu', 23)

In [44]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="SELECT * FROM students ORDER BY age DESC"
mycursor.execute(sql)
myresult=mycursor.fetchall()
for r in range(len(myresult)):
    print(myresult[r])

('Shyam', 23)
('Chandu', 23)
('Venky', 22)
('Hemanth', 22)
('Vinay', 22)

In [49]:
#Delete entries and dropping tables
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="DELETE FROM students WHERE name='Hemanth'"
mycursor.execute(sql)
mydb.commit()

In [54]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="DELETE FROM students WHERE age=22"
mycursor.execute(sql)
mydb.commit()

In [55]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
mycursor.execute('SELECT * FROM students')
result=mycursor.fetchall()
for row in range(len(result)):
    print(result[row])

('Shyam', 23)
('Chandu', 23)

In [56]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',user='root',passwd='123456',auth_plugin='mysql_native_password',
                            database='venkydb')

mycursor=mydb.cursor()
sql="DELETE FROM students"
mycursor.execute(sql)
mydb.commit()