In [3]:
my_list=[]
for i in range(1,11):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
my_list=[i for i in range(1,11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#1,2,3,4,5....---->1,4,9,16,25....
mylist=[]
for i in range(1,11):
    mylist.append(i*i)
print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
mylist=[i*i for i in range(1,11)]
print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#set compressions
mylist=[1,3,5,6,3,7,8,9]
myset=set()
for value in mylist:
    if value%2==0:
        myset.add(value)
print(myset)

{8, 6}

In [36]:
list=[1,2,3,4,5,6,7,8,9,10]
list={i for i in list if i%2==0}
print(list)

{2, 4, 6, 8, 10}

In [19]:
#using if condition 1,2,3,4,....10----> 2,4,6,8,10
list=[i for i in range(1,11) if i%2==0]
print(list)

[2, 4, 6, 8, 10]

In [22]:
#.1,2,3,4,...,51------> 10,20,30,40,50 by using nested if
list=[i for i in range (1,51) if i%2==0 if i%5==0]
print(list)

[10, 20, 30, 40, 50]

In [23]:
#if-else  check the even or odd numbers
list=['even'if i%2==0 else 'odd' for i in range(1,21)]
print(list)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [27]:
#condition----> age>21 store the value
voters=[{'name':'venky','age':25},{'name':'shyam','age':28},{'name':'chandu','age':22},{'name':'vinay','age':19}]
users=[user['name']for user in voters if user['age']>21]
print(users)

['venky', 'shyam', 'chandu']

In [28]:
#dictionaries
dict={}
input_list=[1,2,3,4,5,6]
for value in input_list:
    dict[value]=value*2
print(dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}

In [29]:
list=[1,2,3,4,5,6]
dict={value:value*2 for value in list}
print(dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}

In [34]:
language=['java','python','c']
ideas=['eclipse','pycharm','code']
dict={}
for(key1, value1)in zip(language,ideas):
    dict[key1]=value1
    print(dict)

{'java': 'eclipse'}
{'java': 'eclipse', 'python': 'pycharm'}
{'java': 'eclipse', 'python': 'pycharm', 'c': 'code'}

In [32]:
language=['java','python','c']
ideas=['elicpse','pycharam','code']
dict={key1:value1 for (key1,value1) in zip(language,ideas)}
print(dict)

{'java': 'elicpse', 'python': 'pycharam', 'c': 'code'}

In [43]:
#tuple compression
list=[]
for i in range(1,11):
    list.append(i)
    list=tuple(list)
print(list)

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
mytuple=(i for i in range(1,11))
mytuple=tuple(mytuple)
print(mytuple)

TypeError: 'generator' object is not callable