In [11]:
list1=[3,'venky',34,44.33]
list2=[45,36.3334,'kanchi','Hyderabad']
print(list1)
print(list2)

[3, 'venky', 34, 44.33]
[45, 36.3334, 'kanchi', 'Hyderabad']

In [12]:
#concetate
print(list1+list2)

[3, 'venky', 34, 44.33, 45, 36.3334, 'kanchi', 'Hyderabad']

In [13]:
#replication
print(list1*2)
print(list2*2)

[3, 'venky', 34, 44.33, 3, 'venky', 34, 44.33]
[45, 36.3334, 'kanchi', 'Hyderabad', 45, 36.3334, 'kanchi', 'Hyderabad']

In [14]:
#slice
print(list1[1:2])
print(list2[1:2])

['venky']
[36.3334]

In [15]:
#updating
list2[3]='Ramachadrapuram'
print(list2)

[45, 36.3334, 'kanchi', 'Ramachadrapuram']

In [16]:
#append
list1.append('Ramachadrapuram')
print(list1)

[3, 'venky', 34, 44.33, 'Ramachadrapuram']

In [23]:
list=[34,244,67,33,678,36,54,34]
print(list)
print(max(list))
print(min(list))
print(len(list))

[34, 244, 67, 33, 678, 36, 54, 34]
678
33
8

In [24]:
#delete ---> again and again be execute the multiple index values are deleted
del list[2]
print(list)

[34, 244, 33, 678, 36, 54, 34]

In [32]:
#count
print(list.count(34))
#index
print(list.index(54))
#add
list.insert(2,345)
print(list)
#reverse
list.reverse()
print(list)
#sort
list.sort()
print(list)

2
1
[34, 54, 345, 36, 678, 33, 345, 345, 345, 244, 34]
[34, 244, 345, 345, 345, 33, 678, 36, 345, 54, 34]
[33, 34, 34, 36, 54, 244, 345, 345, 345, 345, 678]

In [1]:
#tuples into lists
tuple=(2,4,33.443,'venky')
print(list(tuple))

[2, 4, 33.443, 'venky']