# LISTS

In [3]:
data=['venky',1,30.3,True]
d1=['shyam',4,49.30,False]
print(data)
print(d1)

['venky', 1, 30.3, True]
['shyam', 4, 49.3, False]

In [4]:
#concate
print(data+d1)

['venky', 1, 30.3, True, 'shyam', 4, 49.3, False]

In [5]:
#replication
print(data*3)

['venky', 1, 30.3, True, 'venky', 1, 30.3, True, 'venky', 1, 30.3, True]

In [6]:
#slice
print(data[1:3])
print(d1[1:2])

[1, 30.3]
[4]

In [8]:
#updating
d1[3]=True
print(d1)

['shyam', 4, 49.3, True]

In [9]:
#append
data.append('Ramachadrapuram')
print(data)

['venky', 1, 30.3, True, 'Ramachadrapuram']

In [10]:
#delete
del data[4]
print(data)

['venky', 1, 30.3, True]

In [11]:
#max and min
l=[43,45,29,1,49,400,398,3893,83]
print(l)
print(max(l))
print(min(l))

[43, 45, 29, 1, 49, 400, 398, 3893, 83]
3893
1

In [12]:
#length
print(len(l))

9

In [14]:
#tuples are converted to lists
t=(1,3.453,'venky',False)
print(t)
print(list(t))

(1, 3.453, 'venky', False)
[1, 3.453, 'venky', False]

In [15]:
#add
l.insert(3,'Ramachadrapuram')
print(l)

[43, 45, 29, 'Ramachadrapuram', 1, 49, 400, 398, 3893, 83]

In [16]:
#reverse
l.reverse()
print(l)

[83, 3893, 398, 400, 49, 1, 'Ramachadrapuram', 29, 45, 43]

In [22]:
#delete
print(l)
del l[5]
print(l)
print(l)

[1, 49, 83, 400, 3893, 29, 45, 43]
[1, 49, 83, 400, 3893, 45, 43]
[1, 49, 83, 400, 3893, 45, 43]

In [23]:
#sort()
l.sort()
print(l)

[1, 43, 45, 49, 83, 400, 3893]

In [25]:
#count
l2=[2,3,49,2,49,2,393,392,499,402]
a=l2.count(2)
b=l2.count(49)
c=l2.count(499)
print(a,b,c)

3 2 1

In [26]:
#list comprehension
mylist=[]
for i in range(1,11):
    mylist.append(i)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
mylist=[i for i in range(1,11)]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
l=[]
for i in range(1,11):
    l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
l=[i*i for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
#apply if statement
l1=[i for i in range(1,50) if i%2==0 if i%5==0]
print(l1)

[10, 20, 30, 40]

In [34]:
#apply if-else statement
l2=['even' if i%2==0 else 'odd' for i in range(1,10)]
print(l2)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# TUPLES

In [53]:
t=(10,20,'venky','ramachadrapuram',34.39,True,False)
print(t)

(10, 20, 'venky', 'ramachadrapuram', 34.39, True, False)

In [43]:
#slice
print(t[2:5])

('venky', 'ramachadrapuram', 34.39)

In [44]:
t1=(19,28,'shyam','kakinada',343.39,True,False)
print(t1)

(19, 28, 'shyam', 'kakinada', 343.39, True, False)

In [45]:
#concat
print(t+t1)

(10, 20, 'venky', 'ramachadrapuram', 34.39, True, False, 19, 28, 'shyam', 'kakinada', 343.39, True, False)

In [46]:
#replication
print(t*2)

(10, 20, 'venky', 'ramachadrapuram', 34.39, True, False, 10, 20, 'venky', 'ramachadrapuram', 34.39, True, False)

In [47]:
#length
print(len(t))

7

In [50]:
#max and min
t2=(3,40,39,38,1,484,393,928,58)
print(max(t2))
print(min(t2))

928
1

In [51]:
#list to convert to tuple
l=[4,39,2,48,400]
print(l)
print(tuple(l))

[4, 39, 2, 48, 400]
(4, 39, 2, 48, 400)

In [94]:
#tuple comprehension
mytuple=()
mytuple=(i for i in range(1,10))
mytuple=tuple(mytuple)
print(mytuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [97]:
mytuple=()
mytuple=(i*i for i in range(1,10))
mytuple=tuple(mytuple)
print(mytuple)

(1, 4, 9, 16, 25, 36, 49, 64, 81)

# SETS

In [55]:
s={1,4,3433.433,'venky',True,False,'data science'}
s1={3,49,3349.393,'shyam',False,True,'software Engineer'}
print(s)
print(s1)

{False, 1, 4, 3433.433, 'data science', 'venky'}
{False, True, 49, 3, 3349.393, 'software Engineer', 'shyam'}

In [74]:
#list to convert to set
s=set([1,4,3,44.44,True,False,'venky'])
print(s)

{False, 1, 3, 4, 44.44, 'venky'}

In [75]:
#length
print(len(s))

6

In [58]:
#add
s.add(5)
print(s)

{False, 1, 3, 4, 5, 44.44, 'venky'}

In [59]:
#update
s.update([3,5,'chandu','guntur'])
print(s)

{False, 1, 3, 4, 5, 'guntur', 'chandu', 44.44, 'venky'}

In [60]:
#delete/remove
s.discard('chandu')
print(s)
s.remove('guntur')
print(s)

{False, 1, 3, 4, 5, 'guntur', 44.44, 'venky'}
{False, 1, 3, 4, 5, 44.44, 'venky'}

In [62]:
#clear
s.clear()
print(s)

set()

In [79]:
#functions
s1={2,5,4}
s2={1,7,3,2,4}

In [80]:
#union
print(s1|s2)

{1, 2, 3, 4, 5, 7}

In [81]:
#intersection function
print(s1&s2)

{2, 4}

In [82]:
#differentiate function
print(s1-s2)
print(s2-s1)

{5}
{1, 3, 7}

In [83]:
#symmetric difference
print(s1^s2)

{1, 3, 5, 7}

In [84]:
#max and min
print(max(s1))
print(min(s1))

5
2

In [85]:
#sum()
print(sum(s1))

11

In [86]:
#sorted
print(sorted(s1))

[2, 4, 5]

In [91]:
#set comprehension
myset={}
myset={i for i in range(1,10)}
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
myset={i*i for i in range(1,10)}
print(myset)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

In [92]:
myset={i for i in myset if i%2==0}
print(myset)

{8, 2, 4, 6}

# DICTIONARIES

In [105]:
d1={'Name':'Venky','ID':507,'Branch':'CSE'}
print(d1)

{'Name': 'Venky', 'ID': 507, 'Branch': 'CSE'}

In [99]:
#update
d1['Name']='Chandu'
print(d1)

{'Name': 'Chandu', 'ID': 507, 'Branch': 'CSE'}

In [100]:
#values
print(d1.values())

dict_values(['Chandu', 507, 'CSE'])

In [101]:
#keys
print(d1.keys())

dict_keys(['Name', 'ID', 'Branch'])

In [102]:
#items
print(d1.items())

dict_items([('Name', 'Chandu'), ('ID', 507), ('Branch', 'CSE')])

In [108]:
#copy
d1={'Name':'Venky','ID':507,'Branch':'CSE'}
d2=d1.copy
print(d2)

<built-in method copy of dict object at 0x0000021EB48C5280>

In [109]:
#clear
d1.clear()
print(d1)

{}

In [110]:
#dictionary comperhension
d1={}
for n in range(10):
    d1[n]=n*2
print(d1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [111]:
d2={n:n*3 for n in range(1,10) if n%2==0 if n%3==0}
print(d2)

{6: 18}

In [118]:
d3={n:(n if n%2==0 else 'Invalid') for n in range(10)}
print(d3)

{0: 0, 1: 'Invalid', 2: 2, 3: 'Invalid', 4: 4, 5: 'Invalid', 6: 6, 7: 'Invalid', 8: 8, 9: 'Invalid'}