# LOOPING

Repeataing, one (or) more,than the statements...
Two types.
1.for 
2.while

FOR LOOP SYNTAX:

for i in range(start,end):
    statements

In [1]:
n=1
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [1]:
n=2
for n in range(2,20,2):
    print(n)

2
4
6
8
10
12
14
16
18

WHILE LOOP SYNTAX:

while condition:
    statements
    i++/i--

In [3]:
n=1
while n<7:
    print(n)
    n=n+1

1
2
3
4
5
6

SOME OF EXAMPLES

In [6]:
n=int(input('Enter a No..:'))
for n in range(n):
    print('Hello')

Enter a No..:3
Hello
Hello
Hello

In [8]:
n=int(input('enter a no..:'))
while n<10:
    print('Hello')
    n=n+1

enter a no..:6
Hello
Hello
Hello
Hello

NESTED LOOPS

Syntax:
for in iteration-1:
    for i in iteration-2:
        statements

In [9]:
for i in range(4):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1

In [23]:
l=['tic','toc','toe']
for i in l:
    for j in i:
        print(j)

t
i
c
t
o
c
t
o
e

In [22]:
l=['tic','toc','toe']
for i in l:
    for j in i:
        if j!='t':
            print(j)

i
c
o
c
o
e

TRANSFET STATEMENTS

1.BREAK
2.CONTINUE
3.PASS

1.BREAK

In [30]:
for i in range(0,10):
    if (i==3):
        print('i is 3')
        break
    print(i)

0
1
2
i is 3

In [32]:
l=[10,20,30,40,50,60]
for i in l:
    if i==40:
        break
    print(i)

10
20
30

In [33]:
i=0
while (i<5):
    print(i)
    if(i==3):
        break
    i=i+1

0
1
2
3

In [34]:
#2.continue
for i in range(1,5):
    if i==3:
        print('we are printing')
    print(i)

1
2
we are printing
3
4

In [39]:
for i in range(1,8):
    if i==3:
        #print('we are printing')
        continue
    print(i)

1
2
4
5
6
7

In [38]:
l=[10,20,30,40,50]
for i in l:
    if i==30:
        #print('skipped 30')
        continue
    print(i)

10
20
40
50

In [42]:
#3.pass 
n=1
for n in range(1,11):
    if n==3:
        pass
        print('venky')
    print(n)

1
2
venky
3
4
5
6
7
8
9
10

In [44]:
l=[10,20,30,40,50]
for i in l:
    if i==30:
        pass
        print('venky')
    print(i)

10
20
venky
30
40
50