# Python Basics

In [1]:
print('Hello World')

Hello World

# Comments

In [32]:
#----> single line comment symbol
print('Hello World')

Hello World

In [21]:
"""
this the multiiline comment
is used for the three quotes
in the python programming
"""
print('Hello World')

Hello World

# Variables

In [7]:
#correct variables declaration
myvar='venky'
my_var='venky'
_my_var='venky'
myVar='venky'
MyVAR='venky'
myvar2='venky'
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MyVAR)
print(myvar2)

venky
venky
venky
venky
venky
venky

In [8]:
#wrong variables declartion
2myvar='venky'
my-var='venky'
my var='venky'
print(2myvar)
print(my-var)
print(my var)

SyntaxError: invalid syntax (3989771004.py, line 2)

In [3]:
#variables
x=5
y='john'
print(x)
print(y)
print()
print(x,y)

5
john

5 john

In [4]:
#multiple variables
x,y,z='orange','apple','cherry'
print(x,y,z)

orange apple cherry

In [5]:
#one value to multiplel variable
x=y=z='orange'
print(x,y,z)

orange orange orange

In [9]:
#camel case
myVariableName='venky'
print(myVariableName)

venky

In [10]:
#pascal case
MyVariableName='venky'
print(MyVariableName)

venky

In [12]:
#snake vase
my_variable_name='venky'
print(my_variable_name)

venky

In [13]:
#unpack a collection
fruits=['apple','banana','cherry']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [1]:
#output variables
x='python is awesome'
print(x)

python is awesome

In [2]:
x=5
y=10
print(x+y)
print(x,y)

15
5 10

In [3]:
#don't
x=5
y='john'
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
x=3
y='john'
print(x,y)

3 john

In [6]:
#globel variables
x='awesome'
def func():
    print('python is'+x)
func()

python isawesome

In [7]:
x='awesome'
def func():
    print('python is'+x)
func()
print('python is' +x)

python isawesome
python isawesome

In [14]:
def func():
    global x
    x='fantasic'
func()
print('python is'+x)

python isfantasic

In [13]:
x='awesome'
def func():
    global x
    x='fanastic'
    print('python is'+x)
func()
print('python is'+x)

python isfanastic
python isfanastic

# Data Types

In [29]:
#strings data types
x='Hello World'
x1=str('Hello Venky')
print(x)
print(x1)

Hello World
Hello Venky

In [31]:
#integers datatypes
x=20
x1=int(30)
print(x)
print(x1)

20
30

In [33]:
#float data types
x=20.39
x1=float(400.30)
print(x)
print(x1)

20.39
400.3

In [35]:
#complex data type
x=1j
x1=complex(34)
print(x)
print(x1)

1j
(34+0j)

In [36]:
#list data type
l=['venky','banana','kiran','python']
l1=list(('venky','chandu','lucky','data'))
print(l)
print(l1)

['venky', 'banana', 'kiran', 'python']
['venky', 'chandu', 'lucky', 'data']

In [40]:
#tuple data type
t=('apple','venky','geetha','lakshmi')
t1=tuple(('banana','cherry','apple','python'))
print(t)
print(t1)

('apple', 'venky', 'geetha', 'lakshmi')
('banana', 'cherry', 'apple', 'python')

In [41]:
#set data types
s={'venky','shyam','john','mani'}
s1=set(('lemon','jam','tomato','kite'))
print(s)
print(s1)

{'mani', 'john', 'shyam', 'venky'}
{'tomato', 'kite', 'lemon', 'jam'}

In [46]:
#dictionary data types
d={1:'venky',2:'shyam',3:'chandu',4:'vinay'}
d1=dict(name='kiran',age=22)
print(d)
print(d1)

{1: 'venky', 2: 'shyam', 3: 'chandu', 4: 'vinay'}
{'name': 'kiran', 'age': 22}

In [47]:
#frozenset data type
f=frozenset({'apple','cherry','banana'})
f1=frozenset(('pineapple','college','double'))
print(f)
print(f1)

frozenset({'banana', 'apple', 'cherry'})
frozenset({'pineapple', 'double', 'college'})

In [48]:
#range datatype
r=range(6)
print(r)

range(0, 6)

In [50]:
#boolean data types
x=True
x1=bool(False)
print(x)
print(x1)

True
False

In [52]:
x1=b"Hello" #byte datatype
x2=bytes(5)  #byte datatype
x3=bytearray(5) #bytearray datatype
x4=memoryview(bytes(5)) #memoryview datatype
print(x1)
print(x2)
print(x3)
print(x4)

b'Hello'
b'\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x000001610116BE80>

# Numbers

In [53]:
x=1
y=2.8
z=99j
print('1.Integer:',x)
print('2. Float:',y)
print('3.Complex:',z)

1.Integer: 1
2. Float: 2.8
3.Complex: 99j

In [54]:
#1.integer
x=49
y=3435938302
z=-48490293
print(x)
print(y)
print(z)

49
3435938302
-48490293

In [55]:
# 2.float
x=1.10
y=1.0
z=-34.3938
print(x)
print(y)
print(z)

1.1
1.0
-34.3938

In [56]:
x=35e3
y=12E4
z=-87.7e100
print(x)
print(y)
print(z)

35000.0
120000.0
-8.77e+101

In [57]:
# 3.Complex
x=3+5j
y=5j
z=-5j
print(x)
print(y)
print(z)

(3+5j)
5j
(-0-5j)

# Type Coversion

In [59]:
x=484
y=293.48
z=8j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)
print()
print(type(a))
print(type(b))
print(type(c))

484.0
293
(484+0j)

<class 'float'>
<class 'int'>
<class 'complex'>

# Type Casting

In [63]:
#integer casting
x=int(23)
y=int(234.39)
z=int('49')
print(x)
print(y)
print(z)
print()
print(type(x))
print(type(y))
print(type(z))

23
234
49

<class 'int'>
<class 'int'>
<class 'int'>

In [64]:
#float casting
x=float(33)
y=float(344.39)
z=float('4')
print(x)
print(y)
print(z)
print()
print(type(x))
print(type(y))
print(type(z))

33.0
344.39
4.0

<class 'float'>
<class 'float'>
<class 'float'>

In [66]:
#3.strings
x=str('s')
y=str(33)
z=str(33.4930)
print(x)
print(y)
print(z)
print()
print(type(x))
print(type(y))
print(type(z))

s
33
33.493

<class 'str'>
<class 'str'>
<class 'str'>

# Boolean

In [68]:
print(10>=9)
print(10<=9)
print(10==9)

True
False
False

In [71]:
a=200
b=30
if b>a:
    print('a is greater than b')
else:
    print('b is not greather than a')

b is not greather than a

In [72]:
a=200
b=30
if b<a:
    print('a is greater than b')
else:
    print('b is not greather than a')

a is greater than b

In [73]:
print(bool('Hello'))
print(bool(23))

True
True

In [74]:
print(bool('abc'))
print(bool(123))
print(bool(['apple','banana']))

True
True
True

# Operators

In [75]:
#Arithmetic operators
a=49
b=9
print('Addition is:',a+b)
print('Substraction is:',a-b)
print('Multiplication is:',a*b)
print('Division is:',a/b)
print('Modulus is:',a%b)
print('Exponetation is:',a**b)
print('Floor Division:',a//b)

Addition is: 58
Substraction is: 40
Multiplication is: 441
Division is: 5.444444444444445
Modulus is: 4
Exponetation is: 1628413597910449
Floor Division: 5

In [100]:
#Assignment
x=5
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
x**=3
print(x)
x//=3
print(x)
x=5
x&=3
print(x)
x|=3
print(x)
x^=3
print(x)
x<<=3
print(x)
x>>=3
print(x)

5
8
5
15
5.0
2.0
8.0
2.0
1
3
0
0
0

In [104]:
#logical operator
x=5
print(x>3 and x<10)
print(x<5 or x<4)
print(not(x<5 and x<10))

True
False
True

In [107]:
#bitwise operators
a=10
b=3
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<b)
print(a>>b)

2
11
9
-11
80
1

In [108]:
#comparsion operators/realational operators
a=10
b=2
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)

False
True
False
True
False
True

In [111]:
#identity operator
x=['apple','banana']
y=['apple','banana']
z=x
print(x is z)
print(x is y)
print(x == y)
print()
print(x is not z)
print(x is not y)
print(x != y)

True
False
True

False
True
False

In [116]:
#membership opeartor
x=['banana','apple']
print('banana' in x)
print('pineapple'  not in x)
print('apple' not in x)

True
True
False