In [33]:
# demo program
print('Hello Venky')

Hello Venky

In [34]:
# comments
#single comments
#print('hello venky')
print('hello world')
""""multi line comments was 
used in multilines of don't exeucte 
the lines of code"""
print("hello venky")

hello world
hello venky

In [32]:
# Variables
#1.Integers type
a=10
b=35
print('Interger Values of A and B are:',a,b)
#2.Floating point
print()
a=3.344
b=3544.533
print('Floating Values of A and B are:',a,b)
#3.Character type
print()
name='VENKY'
print('The Character value of given value:',name)

Interger Values of A and B are: 10 35

Floating Values of A and B are: 3.344 3544.533

The Character value of given value: VENKY

In [35]:
# Types of Variables
#1.Globel varibles
name='VENKY'
def displayname():
    print(name)
def displayname2():
    print(name)
    print(name)
displayname()
displayname2()
print()

#2.local varibles
def display():
    name='VENKY'
    print(name)
def display2():
    print(name)
display()
display2()
print(name)
print(name)
print()

#3.NON-LOCAL VARIBLES/ENCLOSED VARIBLES
name='VENKY'
def displayname():
    name2='VENKY KANCHI'
    print(name2)
displayname()
print(name)

VENKY
VENKY
VENKY

VENKY
VENKY
VENKY
VENKY

VENKY KANCHI
VENKY

In [54]:
#DATATYPES
#1.NUMERIC
#(I).Intergers
a=10
b=34
print('Integers of A and B Values are: ',a,b)
#(II).Floating points
a=33.56
b=44.3533
print('Flaoting point of A and B Values are: ',a,b)
#3.(III).Character
brand='VENKY'
print(brand)
print()

#2.Dictionaries
e={"Name:Venky","ID:507","Department:HR"}
print(e)
print()

#3.Boolean 
a=10
if a>=5:
    print("True")
else:
    print("False")
    
#4.sets
set={10,20,30,'Venky','Shyam',3.388,4.22}
print(set)
print()

#5.SEQUENCE TYPE
#(I).Strings
name='VENKY'
print(name)
print()
#(II).lists
list=[19,32,93,'venky','shaym']
print(list)
print()
#(III).Tuples
tuple=(19,39,298,'venky','shyam')
print(tuple)

Integers of A and B Values are:  10 34
Flaoting point of A and B Values are:  33.56 44.3533
VENKY

{'Department:HR', 'ID:507', 'Name:Venky'}

True
{3.388, 4.22, 10, 20, 'Venky', 'Shyam', 30}

VENKY

[19, 32, 93, 'venky', 'shaym']

(19, 39, 298, 'venky', 'shyam')

In [61]:
#user-defined programs 
a=int(input('Enter A Value: '))
b=float(input('Enter the B Value: '))
char=input('Enter the Character Value: ')
print()
print('The Value of A is:' ,a)
print('The Value of B is:' ,b)
print('The Character Value of is:' ,char)

Enter A Value: 433
Enter the B Value: 343.342
Enter the Character Value: venky

The Value of A is: 433
The Value of B is: 343.342
The Character Value of is: venky

In [76]:
#OPERATORS
#1.Arithmetic
a=int(input("Enter A value: "))
b=int(input("Enter B value: "))
print()
print("Addition of Two values: ",a+b)
print("Substract of Two values: ",a-b)
print("Multiply of Two values: ",a*b)
print("Division of Two values: ",a/b)
print("Modules of Two values: ",a%b)
print("multiply of  values: ",a*a*a*a)
print("Power of Values:", a**b)
print()

#2.Relational
a=5
print(a)
print(a<10)
print(a<=10)
print(a>10)
print(a>=10)
print(a!=10)
print(a==10)
print()

Enter A value: 34
Enter B value: 23

Addition of Two values:  57
Substract of Two values:  11
Multiply of Two values:  782
Division of Two values:  1.4782608695652173
Modules of Two values:  11
multiply of  values:  1336336
Power of Values: 167500108222301408246337399112597504

5
True
True
False
False
True
False

In [78]:
name='venky'
def addition(x,y):
    print('Addition: ',x+y)
def power(x,y):
    print('Power: ',x**y)
addition(3,2)
power(4,2)

Addition:  5
Power:  16

In [3]:
#type conversions
a=10
b=3.24
c="hello"
d={'venky',3,2.344,'true'}
e=["venky",507, 34.34]
f=("venky",55,35.36)
g=('name:venky','branch:cse')
print()
print(a)
print(type(a))
print()
print(b)
print(type(b))
print()
print(c)
print(type(c))
print()
print(d)
print(type(d))
print()
print(e)
print(type(e))
print()
print(f)
print(type(f))
print()
print(g)
print(type(g))

10
<class 'int'>

3.24
<class 'float'>

hello
<class 'str'>

{'venky', 2.344, 3, 'true'}
<class 'set'>

['venky', 507, 34.34]
<class 'list'>

('venky', 55, 35.36)
<class 'tuple'>

('name:venky', 'branch:cse')
<class 'tuple'>

In [31]:
#type casting
a=30.543
print(int(a))
a=453
print(float(a))
s="venky"
print(bool(s))
b='false'
print(bool(b))

30
453.0
True
True