In [4]:
#Immutable Datatypes/changeable datatypes means that can change,add and remove items
#numbers,strings tuples

#mutable datatypes they cann't change the items.lists,dictionary,sets

# Strings

In [5]:
name='Venky'
print(name)

Venky

In [8]:
#multiline string
name='''Hello my name is venky.
I am studying a Data Engineer.
I am from Ramachadrapuram'''
print(name)

Hello my name is venky.
I am studying a Data Engineer.
I am from Ramachadrapuram

In [9]:
#length of the string
name='Venky'
print(len(name))

5

In [12]:
#string formating
#don't
age=36
txt="my name is venky. i am "+age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [15]:
age=21
txt='my name is venky.i am {}'
print(txt.format(age))

my name is venky.i am 21

In [16]:
quantity=3
itemno=567
price=49.49
myorder='I want {} pieces of item {} for {} dollars'
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.49 dollars

In [17]:
quantity=3
itemno=583
price=40.49
myorder='I want to pay {2} dollars for {0} pieces of item {1}'
print(myorder.format(quantity,itemno,price))

I want to pay 40.49 dollars for 3 pieces of item 583

In [19]:
#concat
name='Venky'
surname='Kanchi'
print(name+surname)
print(name+' '+surname)

VenkyKanchi
Venky Kanchi

In [21]:
#strings are arrays
name='venky kanchi'
print(name[3])

k

In [22]:
#slice
name='venky kanchi'
print(name[3:9])
print(name[:9])
print(name[3:])

ky kan
venky kan
ky kanchi

In [29]:
#negative slice
a='Hello Venky'
print(a[-5:-2])
print(a[-3:])
print(a[:-8])

Ven
nky
Hel

In [35]:
a='Hello,venky'
print(a.replace('v','V')) #replace
print(a.upper()) #uppercase
print(a.lower()) #lowercase
b='hello venky'
print(b.title()) #titlecase
c='heLLO VenKY'
print(c.swapcase()) #swapcase()

Hello,Venky
HELLO,VENKY
hello,venky
Hello Venky
HEllo vENky

# Functions

In [46]:
#built-in function
x=abs(3+5j)  #absolute values
x

5.830951894845301

In [47]:
l=[True,True ,True]  #all 
y=all(l)
y

True

In [50]:
#ascii function
x=ascii('my name is stàlΓ')
x

"'my name is st\\xe0l\\u0393'"

In [51]:
#bool()
x=bool(l)
x

True

In [54]:
#enumerate()
a=('apple','banana','cherry')
y=enumerate(a)
print(y)

<enumerate object at 0x000001FE2D12DCC0>

In [55]:
#length
l=['I','N','D','I','A']
x=len(l)
x

5

In [56]:
#all
li=[0,1,0]
x=all(li)
x

False

In [57]:
li=[1,1,1]
x=all(li)
x

True

In [58]:
li=[1,1,0]
x=all(li)
x

False

In [61]:
#sum()
s=sum([24,39,49])
s1=sum([3,9,4])
print(s)
print(s1)

112
16

In [3]:
#max and min
m1=max(4,39,29,20,59,30,200)
print(m1)

200

In [4]:
m2=min(30,20,59,10,4,39,399)
print(m2)

4

In [5]:
m3=max({4,39,58,30,1,39,449})
print(m3)

449

In [6]:
m4=min({4,2,58,49,30,399})
print(m4)

2

In [8]:
#iter()
mylist=iter(['I','N','D','I','A'])
x=next(mylist)
print(x)

I

In [9]:
x=next(mylist)
print(x)

N

In [10]:
x=next(mylist)
print(x)

D

In [11]:
#pow()
x1=pow(3,3)
x2=pow(2,4)
print(x1)
print(x2)

27
16

In [12]:
#range()
x=range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [13]:
x=range(20,40,2)
for n in x:
    print(n)

20
22
24
26
28
30
32
34
36
38

In [14]:
#round()
x=round(8.62840392,3)
print(x)

8.628

In [15]:
#sorted
a=['I','N','D','I','A']
x=sorted(a)
print(x)

['A', 'D', 'I', 'I', 'N']

In [16]:
x=sorted(a,reverse=True)
print(x)

['N', 'I', 'I', 'D', 'A']

In [20]:
a=(3,49,29,19,29,4,1,94)
x=sorted(a)
print(x)

[1, 3, 4, 19, 29, 29, 49, 94]

In [21]:
x=sorted(a,reverse=True)
print(x)

[94, 49, 29, 29, 19, 4, 3, 1]

In [22]:
#slice
a=('s','i','m','p','l','e','p','y','t','h','o','n')
x=slice(5)
print(a[x])

('s', 'i', 'm', 'p', 'l')

In [25]:
#map()
def func(n):
    return len(n)
x=map(func,('apple','banana','cherry'))
print(x)

<map object at 0x000001FEFAF15790>

In [26]:
#type()
a=('apple','banana','cherry')
b='Hello venky'
c=33
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'int'>

In [27]:
#user defined function
def fun():
    print('Hello World')
fun()

Hello World

In [29]:
def hello():
    name=str(input('enter ur country name: '))
    print('Hello'+' ' +str(name))
hello()

enter ur country name: India
Hello India

In [30]:
def my_function():
    print('Hello from a function')
my_function()

Hello from a function

In [41]:
#parameters
def ft_to_cm(ft):
    centimeter=ft*30.48
    return centimeter
ft_to_cm(6)

182.88

In [42]:
ft_to_cm(5.8)

176.784

In [43]:
def add(x,y):
    sum=x+y
    print(sum)
add(40,30)

70

In [44]:
def add(x,y):
    sum=x+y
    return sum
add(40,39)

79

In [45]:
add(-20,30)

10

In [46]:
def multiply(x,y):
    product=x*y
    return product
multiply(3,9)

27

In [47]:
def absolute(x):
    if x>=0:
        return x
    else:
        return (-x)
print(absolute(56))

56

In [48]:
print(absolute(-56))

56

In [49]:
#factorial
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)
factorial(5)

120

In [50]:
factorial(10)

3628800

In [52]:
def func(fname):
    print(fname+' '+'Reference')
func('Email')
func('Tobias')
func('Linus')

Email Reference
Tobias Reference
Linus Reference

In [54]:
def func(country='Norway'):
    print('I am from'+' '+country)
func('Sweden')
func('India')
func()
func('Brazil')

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [56]:
def func(x):
    return 5*x
print(func(3))
print(func(5))
print(func(9))

15
25
45

In [57]:
#default arguments
def welcome(name='Venky'):
    print('Hello',name)
welcome()

Hello Venky

In [58]:
welcome('Manoj')

Hello Manoj

In [59]:
def message(name1,name2,name3):
    print('Hello',name1,'Hello',name2,'Hello',name3)
message('venky','chandu','manoj')

Hello venky Hello chandu Hello manoj

In [60]:
#scopes
def func():
    z=7
    print(z)
func()

7

In [61]:
z=5
def func():
    print(z)
func()

5

In [63]:
x=5
def func():
    global x
    x=x+1
    print(x)
func()

6

In [64]:
def func(*names):
    print('Hello',names[0],',',names[1],',',names[2])
func('venky','bhanu','shyam')

Hello venky , bhanu , shyam

In [67]:
pi=3.14
def circlearea(radius):
    return pi*radius*radius
def spherearea(radius):
    return 4*pi*radius*radius

In [68]:
def main():
    print('Circle area with radius is 15:',circlearea(15))
    print('Sphere area with radius is 10:',spherearea(10))
main()

Circle area with radius is 15: 706.5
Sphere area with radius is 10: 1256.0

# Lambda

In [69]:
def add(a,b):
    result=a+b
    return result
add(3,5)

8

In [70]:
#lambda argumets:expression
add=lambda a,b:a+b
add(3,5)

8

In [71]:
add=lambda x:x+4
print(add(40))

44

In [72]:
(lambda a,b:a*b)(15,30)

450

In [73]:
mul=lambda a,b:a*b
mul(15,30)

450

In [74]:
product=lambda x,y,z:x*y*z
product(3,5,4)

60

In [75]:
product(z=40,x=29,y=38)

44080

In [76]:
add=lambda x,y=15,z=24:x+y+z
print(add(20))

59

In [78]:
add=lambda*args:sum(args)
add(13,29,39,29,3)

113

In [81]:
higher_ord_fun=lambda x,fun:x+fun(x)
higher_ord_fun(20,lambda x:x*x)

420

In [82]:
(lambda x:(x%2 and 'odd' or 'even'))(30)

'even'

In [84]:
(lambda x:(x%2 and 'odd' or 'even'))(15)

'odd'

In [85]:
sub_string=lambda string:string in 'Welcome to python functions'
print(sub_string('java'))

False

In [87]:
sub_string('python')

True

In [89]:
n=[10,40,56,27,33,15,70]
greater=list(filter(lambda n:n>30,n))
greater

[40, 56, 33, 70]

In [91]:
n=[10,40,56,27,33,15,70]
divide=list(filter(lambda x:(x%4==0),n))
divide

[40, 56]

In [93]:
n=[10,40,56,27,33,15,70]
double_the_num=list(map((lambda x:x*2),n))
double_the_num

[20, 80, 112, 54, 66, 30, 140]

In [96]:
n=[10,40,56,27,33,15,70]
cube=map(lambda x:pow(x,3),n)
cube

In [97]:
def quadratic(a,b,c):
    return lambda x:a*x**2+b*x+c
f=quadratic(2,3,5)

In [98]:
f(1)

10

In [99]:
f(2)

19

In [105]:
#map()
#map(function,iterables)
def new(a):
    return a*a
x=map(new,[1,2,3,4])
print(x)
#print(list(x))
print(tuple(x))

<map object at 0x000001FEFACE4100>
(1, 4, 9, 16)

In [106]:
def new(a,b):
    return a*b
x=map(new,[1,2,3,4],[2,3,4,5])
print(x)
print(tuple(x))

<map object at 0x000001FEFACE4220>
(2, 6, 12, 20)

In [107]:
l=[1,2,3,4,5]
x=list(map(lambda x:x+3,l))
print(x)

[4, 5, 6, 7, 8]

In [110]:
#filter
#filter(function,iterables)
def new(i):
    if i>=3:
        return i
j=filter(new,(1,2,3,4,5,6))
print(tuple(j))

(3, 4, 5, 6)

In [112]:
x=filter(lambda x:(x>=3),(1,2,3,4,5,6))
print(list(x))

[3, 4, 5, 6]

In [114]:
#reduce()
#reduce(function,iterables)
from functools import reduce
def a(x,y):
    return x+y
s=reduce(a,[1,2,3,4,55,4,4,5,5])
print(s)

83

In [115]:
reduce(lambda q,p:q*p,[1,2,3,4,5,6,7,7])

35280

In [116]:
reduce(lambda q,p:q+p,[1,2,3,4,55,4,4,5,5])

83

In [118]:
#filter() within map()
c=map(lambda x:x+x,filter(lambda x:(x>=4),[2,3,4,5]))
print(tuple(c))

(8, 10)

In [122]:
#map() within filter()
d=filter(lambda x:(x>=4),map(lambda x:x+x,[1,2,3,4,5]))
print(set(d))

{8, 10, 4, 6}

In [124]:
#map(),filter() within reduce()
r=reduce(lambda x,y:x+y,map(lambda x:x+x,filter(lambda x:(x<=4),[1,2,3,4,5,6,7])))
print(r)

20