In [17]:
tuple=(39,49,29,58,'venky','ramachadrapuram','MBA')
history=(1,3,2001,'born','reloaded','missile')
print(tuple)
print(history)

(39, 49, 29, 58, 'venky', 'ramachadrapuram', 'MBA')
(1, 3, 2001, 'born', 'reloaded', 'missile')

In [18]:
#slice
print(tuple[2:6])
print(tuple[3:])
print(tuple[:2])

(29, 58, 'venky', 'ramachadrapuram')
(58, 'venky', 'ramachadrapuram', 'MBA')
(39, 49)

In [19]:
#concentate
print(tuple+history)

(39, 49, 29, 58, 'venky', 'ramachadrapuram', 'MBA', 1, 3, 2001, 'born', 'reloaded', 'missile')

In [20]:
#replication
print(tuple*3)

(39, 49, 29, 58, 'venky', 'ramachadrapuram', 'MBA', 39, 49, 29, 58, 'venky', 'ramachadrapuram', 'MBA', 39, 49, 29, 58, 'venky', 'ramachadrapuram', 'MBA')

In [21]:
#delete
del tuple
print(tuple)

<class 'tuple'>

In [24]:
#length
print(len(history))

6

In [28]:
#maximum
tuple=(34,25,94,5,3,99,229)
print(max(tuple))
print()
#minimum
print(min(tuple))
print()

229

3

In [36]:
#list into tuple converting the data
list=[3,4,5,23,53,55]
print(tuple(list))

TypeError: 'tuple' object is not callable